/* Generator button */
a, a:hover, a:active, a:focus{outline: 0;}
#su-generator-button{padding-left:3px;}
.shortcodes-button-icon{display: inline-block; width: 13px; height: 13px; margin: 0px 5px 0px 2px; background:url('../images/admin/wp-shortcodes-icon.png') no-repeat; vertical-align: middle;}

/* Generator box */
#su-generator-overlay{width:100%; height:100%; left:0px; position:fixed; top:0px; z-index: 159900;}
.su-overlay-bg{background-color: #000000; opacity: 0.75;}

#su-generator-wrap {top:30px; right:30px; left:30px; bottom:30px; display: none; position: fixed; background: #fff; min-width:710px; min-height:600px; z-index: 160000;}
#su-generator {height: 100%; margin:0; padding:20px; overflow: auto;}
#su-generator-shell {padding:0px;}
#su-generator-close{height:13px; width: 13px; position:absolute; right:20px; top:20px; z-index: 1000;}
#su-generator-close span{display: block; width:13px; height:13px;}
#su-generator-close .su-close-icon, #su-generator-close-html .su-close-icon{background:url('../../../img/csb-close.png') no-repeat;}

#su-generator-settings {	background-color: #F8F8F8; border: 1px solid #EBEBEB; padding: 20px; }
#su-generator-settings p{padding: 2px 0px !important; clear:both;}

#su-generator-header {height: 30px; 	margin-bottom: 20px; }
#su-generator-select {padding:0 0 0 10px; height:34px; width:520px; }

#su-generator-settings label {font-weight:bold; float: left; display: block; 	width: 300px; padding: 4px 0; margin-right:20px; color: #5E6D6C; font-size:12px; border-bottom: 1px dashed #CCCCCC; }
#su-generator-settings label span {color: #939393; font-size: 11px; font-style: italic; font-weight: 400; padding-left: 7px; text-transform: none;}

#su-generator-settings input[type="text"] {width: 300px; 	padding: 5px 8px; }
#su-generator-settings select {width: 300px;}

.su-loading-animation {min-height: 100px; background: 50% 50% url(../images/admin/loading.gif) no-repeat;}
.su-loading-animation * {display: none;}
#su-generator-insert {color: #fff !important; margin-top:20px;}


/* Color picker */
.su-generator-select-color {	position: relative;}
.su-generator-select-color .wp-picker-holder{position:absolute; margin-top:10px;}
.su-generator-select-color .wp-picker-input-wrap input[type="text"]{width: 136px !important;}

.su-generator-select-icon-value {margin-right: 10px; width: 220px !important;}

/* Vector icon */
.add-icon-button{display:none !important;}
#su-generator-settings .add-icon-button{display:inline-block !important;}
#su-insert-vector-icon{background:#fff; position:absolute; top: 60px; left:20px; -moz-box-shadow: 0px 0px 15px #6D6D6D;  -webkit-box-shadow: 0px 0px 15px #6D6D6D;  box-shadow: 0px 0px 15px #6D6D6D;}

/* Icons list */
.su-csb-generator-icon-select ul {width:620px; height:500px; display:inline-block; padding: 11px 7px 10px 15px; overflow:auto;}
.su-csb-generator-icon-select li{display:inline-block; list-style:none; padding:0;}
.su-csb-generator-icon-select li label {width:30px !important; text-align:center; color:#777777; display:inline-block !important; float:none !important; font-size:20px !important; font-weight:normal !important; padding:5px 0 !important; border:1px solid #eee !important;}
.su-csb-generator-icon-select li label:hover {background:#eee; border:1px solid #ccc !important;}
.su-csb-generator-icon-select li input[type="radio"]:checked+label {background: #E1FF95; border: 1px solid #96BF0B !important; color:#225803;}
.su-csb-generator-icon-select input{visibility:hidden; margin: 0; padding:0; width: 1px; height: 1px; filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity: 0; opacity: 0; cursor: pointer; }

/* Retina */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	
	.shortcodes-button-icon{background:url('../images/admin/wp-shortcodes-icon@2x.png') no-repeat; background-size: 13px 13px;}
	#su-generator-close .su-close-icon, #su-generator-close-html .su-close-icon{background:url('../../../img/csb-close@2x.png') no-repeat; background-size: 13px 13px;}

	
}