/*
	Code Adopted From: Shortcodes Ultimate Plugin
	Edited and Improved by Defatch (http://defatch.com)
*/


.su-error {color: #888;}

/* Spacer */
.spacer {	display: block; height: 0px; line-height: 0px; clear: both;}

/* Background block */
#layout-wrapper .background-block{margin:0 -30px; padding-left:30px; padding-right:30px;}
.background-block-container p:last-child, .background-block-container h1:last-child, .background-block-container h2:last-child, .background-block-container h3:last-child, .background-block-container h4:last-child, .background-block-container h5:last-child, .background-block-container h6:last-child, .background-block-container .column{margin-bottom:0;}
#layout-wrapper.full-width .background-block{position: relative; margin:0 0 18px; padding-left:0px; padding-right:0px;}
#layout-wrapper.full-width .background-block-container{width:1000px; margin:0 auto;}
#layout-wrapper.full-width .background-block:before, #layout-wrapper.full-width .background-block:after {content: ""; position: absolute; background: inherit; top: 0; bottom: 0; width: 100%;} 
#layout-wrapper.full-width .background-block:before {right: 100%; background-position:100% 0%;}
#layout-wrapper.full-width .background-block:after {left: 100%; background-position: -1000px 0%;}

/* Special heading */
.big-heading{display:inline-block; font-size:50px; color:#444444; margin-bottom:12px; line-height:60px; border-bottom:1px dashed #bbbbbb;}

/* Latest works */
.latest-works {margin-bottom:10px; margin-right:-20px;}
.latest-works ul {margin:0; padding:0;}
.latest-works ul li {height:auto; list-style:none; float:left;}
.latest-works ul li .pf-title{position:absolute; width:90%; font-size: 16px; padding: 15px; text-transform:uppercase; color:#fff; text-align: center; bottom:40px;}
.latest-works ul.pf-three-columns li a.pf-zoom { margin-top:120px; }
.latest-works ul li img {height:auto;}
/* Chrome css3 animation flicker fix */
.latest-works, .client-wrapper, .background-block {-webkit-transform: translateZ(0);}

/* Company Timeline */
.timeline {margin: 30px 0 0 0;padding: 0;list-style: none;position: relative;} 
.timeline:before {content: '';position: absolute;top: 0;bottom: 0;width: 3px;background: #ececec;left: 5%;margin-left: -4px;}
.timeline > li .timeline_label {margin: 0 0 15px 11%;background: #fff;color: #8c9295;padding:10px 0 0 0;font-size: 1.2em;font-weight: 300;line-height: 1.4;position: relative;-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;}
.timeline_label h2 {font-size:22px;font-weight:600;color:#4b4c4a;}
.timeline_label p {font-size:13px;color:#8c9295;font-weight:500;}
.timeline > li .timeline_icon {width: 65px;height: 65px;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;font-size: 1.8em;line-height: 40px;-webkit-font-smoothing: antialiased;position: absolute;background: #e3c66e;color:#fff;-webkit-border-radius: 100%;-moz-border-radius: 100%;-ms-border-radius: 100%;-o-border-radius: 100%;border-radius: 100%; text-align: center;left: 3.7%;margin: 0 0 0 -25px;line-height:65px;-webkit-box-shadow:0px 0px 0px 5px #fff;box-shadow:0px 0px 0px 5px #fff;}


/* Counter Shortcode */
.count {border: 1px solid #d8d8d8;-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;-o-border-radius: 6px;border-radius: 6px;padding: 0;min-height:76px;}
.counter-icon {padding:20px;-webkit-border-top-left-radius: 6px;-moz-border-top-left-radius: 6px;-ms-border-top-left-radius: 6px;-o-border-top-left-radius: 6px;border-top-left-radius: 6px;
-webkit-border-bottom-left-radius: 6px;-moz-border-bottom-left-radius: 6px;-ms-border-bottom-left-radius: 6px;-o-border-bottom-left-radius: 6px;border-bottom-left-radius: 6px;background:#000;float:left; font-size:35px;color:#fff !important;}
.sum { font-weight:700; font-size:24px; padding:12px 20px; display: inherit;}
.count h3 {margin: 0 0 0 0 !important;font-size: 20px !important; padding:0 20px !important; border:none !important; width:auto !important;}
.count .iconcircle {background:#34b78b;}
.counter:hover .iconcircle {background:none !important;}
.counter-section {margin:20px 0;}
.count-title {float:left}


/* Client */
.client-wrapper{position:relative;}
.client-wrapper img{margin-bottom:-5px; display:none; max-width:100%;}

/* Quote */ 
.su-quote {padding: 0px 0 0 30px; margin: 0 0 10px 0; position:relative;}
.su-quote i{font-size:70px; color:#f1f1f1; position:absolute; left: 3px; top: -40px;}
.quote-author {text-align:right; margin-top:10px;}
.su-quote-shell {font-size: 16px; font-weight:600; position:relative; z-index:2;}


/* Pullquote */
.su-pullquote { font-size: 14px; font-style: italic; padding: 5px 0 5px 25px; width: 50%; margin: 1em 20px;}
.su-pullquote-align-left {float: left;}
.su-pullquote-align-right {float: right;}
.su-pullquote-style-1 { border-left: 4px solid #bbb;}


/* Divider */
.divider { clear: both; height: 0px; margin:0 0 1.5em 0; border-top: 2px solid #e7e8ea;}
.divider a { display: block; float: right; margin-top: -2.6em;color: rgb(255, 255, 255) !important;font-size: 10px;text-decoration: none;padding: 3px;
-webkit-border-radius: 10% 10% 0px 0px;-moz-border-radius: 10% 10% 0px 0px;-ms-border-radius: 10% 10% 0px 0px;-o-border-radius: 10% 10% 0px 0px;border-radius: 10% 10% 0px 0px;background: none repeat scroll 0% 0% rgb(52, 183, 139);}
.divider-arrow-down, .divider-arrow-up{clear: both; height: 2px; margin:0; position:relative;}
.divider-arrow-down:after{content:""; width: 0px; height: 0px; border-style: solid; border-width: 6px 6px 0 6px; border-color: #e7e7e7 transparent transparent transparent; border-color:#e7e7e7 rgba(255,255,255,0)  rgba(255,255,255,0) rgba(255,255,255,0); border-top-color:inherit; position:absolute; left:50%; bottom:-5px; margin-left:-6px;}
.divider-arrow-up:before{content:""; width: 0px; height: 0px; border-style: solid; border-width: 0 6px 6px 6px; border-color: transparent transparent #e7e7e7 transparent; border-color:rgba(255,255,255,0)  rgba(255,255,255,0) #e7e7e7 rgba(255,255,255,0); border-bottom-color:inherit; position:absolute; top:-5px; left:50%; margin-left:-6px;}
.tp-bannershadow.tp-shadow3 { background:none !important; }



/* Spoiler */
.su-spoiler-title { padding: 15px; font-size:13px; line-height:21px; cursor: pointer;margin-bottom:1px; border-bottom:1px solid #ddd; font-weight:bold; color: rgb(85, 85, 85);}
.su-spoiler-title .spoiler-button{
	display: block;
	float: right;
	font-size: 14px;
	margin: -3px 0 0 0;
	padding: 10px 10px;
	line-height: 8px;
	
	background-color:#34b78c;
	color: #fff; 
	font-weight:bold;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	position:relative;
	
	box-shadow: inset 0 -3px rgba(0,0,0,.2);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.su-spoiler-title .spoiler-button:hover {
	color:#ffffff; 
	-webkit-transition: all 0.1s ease-in-out;
	 -moz-transition: all 0.1s ease-in-out;
	 -o-transition: all 0.1s ease-in-out;
	 transition: all 0.1s ease-in-out;
	 
	 box-shadow: inset 0 -1px rgba(0,0,0,.2);
}
.su-spoiler-title .spoiler-active {
	box-shadow: inset 0 0px rgba(0,0,0,.2);
}

.su-spoiler-title .spoiler-button.spoiler-active{display:none;}
.su-spoiler-open > .su-spoiler-title .spoiler-button {display:none;}
.su-spoiler-open > .su-spoiler-title .spoiler-button.spoiler-active {display:block;}

.su-spoiler-style-1 {margin: 0; padding: 0px;}
.su-spoiler-style-1 .su-spoiler-title {border: 1px solid #E5E5E5; margin-bottom: 10px; padding: 15px; background:none; font-weight:bold; color: #555; -webkit-border-radius: 4px;	-moz-border-radius: 4px;-ms-border-radius: 4px;	-o-border-radius: 4px;	border-radius: 4px; }
.su-spoiler-style-1 .su-spoiler-content { padding: 0 10px 10px; display: none;}
.su-spoiler-style-1 .su-spoiler-style-1 { margin: 1em }

.su-spoiler-style-2 { padding:0; margin-bottom:10px; border:1px solid #ddd; background:#f7f7f7;}
.su-spoiler-style-2 .su-spoiler-content { padding: 10px; background:#fff; display: none;}
.su-spoiler-style-2 .su-spoiler-style-2 { margin: 1em}


/* Columns */
.column-1-2 { width: 48% }
.column-1-3 { width: 31.3% }
.column-2-3 { width: 65.33% }
.column-1-4 { width: 22.7% }
.column-3-4 { width: 74% }
.column-1-5 { width: 16.8% }
.column-2-5 { width: 37.6% }
.column-3-5 { width: 57.4% }
.column-4-5 { width: 67.2% }
.column-1-6 { width: 13.33% }
.column-5-6 { width: 82.67% }

.column { position: relative; margin: 0 3% 3% 0; float: left;}
.column-last { margin-right: 0 !important;}


/* Testimonial with image */
.big-testimonial-wrapper {width:100%; margin:0 0 30px 0; position:relative;}
.big-testimonial-wrapper .big-testimonial-image{float:left; position:relative; border:6px solid #e7e7e7; -webkit-border-radius: 115px;-moz-border-radius: 115px;-ms-border-radius: 115px;	-o-border-radius: 115px;border-radius: 115px;}
.big-testimonial-wrapper .big-testimonial-image img{width: 115px; float:left; -webkit-border-radius: 115px;-moz-border-radius: 115px;-ms-border-radius: 115px;	-o-border-radius: 115px;border-radius: 115px;}
.big-testimonial-wrapper .big-testimonial-image:before{content: ""; 	width: 0; height: 0; border-style: solid; border-width:20px 0 20px 20px;
border-color:transparent transparent transparent  #e7e7e7; border-color:rgba(255,255,255,0)  rgba(255,255,255,0)  rgba(255,255,255,0)  #e7e7e7; position:absolute; top:50%; margin-top:-20px; right:-21px;}
.big-testimonial-wrapper .big-testimonial-content{display:block; font-size:16px; font-style:italic; padding-top:15px; margin-left: 160px}
.big-testimonial-wrapper .big-testimonial-content p:last-child{margin:0px;}
.big-testimonial-wrapper .big-testimonial-content span{text-align:left; display:block; font-size:14px;  padding-top:10px;}


/* Testimonial */
.testimonial-wrapper {width:100%; margin:0 0 30px 0; position:relative; max-width:1000px;}
.testimonial-wrapper .testimonial-content{display:block; background:#f2f3f4; padding:25px 20px 25px 25px;}
.testimonial-wrapper .testimonial-content p:last-child{margin:0px;}
.testimonial-author {margin-top:-8px; font-size:12px;}
.testimonial-author i{font-size:16px; margin:0 10px 0 7px;}
.testimonial-arrow{display:block; width:0; height:0; margin-left:27px; border-style: solid; border-width:6px 9px 9px 13px;
border-color:#F3F3F3 transparent transparent  #F3F3F3; border-color:#F3F3F3  rgba(255,255,255,0)  rgba(255,255,255,0)  #F3F3F3;}

/* Testimonial slider */
.testimonials-slider {margin:0 0 30px 0;}
.testimonials-slider .testimonial-wrapper {position:absolute; margin:0; display:none;}

/* Team Members */
.team {text-align: center; color:#fff; padding:20px; -webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px; -o-border-radius: 4px;border-radius: 4px; margin-bottom:1.5em;}
.team img {-webkit-border-radius: 100%;-moz-border-radius: 100%;-ms-border-radius: 100%; -o-border-radius: 100%;border-radius: 100%; width: 130px;height: 130px;margin-bottom: 20px;}
.team h3 {font-size:18px;color:#fff;font-weight:bold;margin:0 0 10px !important;}
.team hr {margin:0 !important;border-top:1px solid #CCC !important;}
.team h5 {font-size:14px;color:#fff;margin:0px 0 10px;}
.team p {font-size:13px;color:#fff;margin:10px 0 0px;}
.team .social-connect ul li {display:inline-block; }
.team .social-connect ul li a {background:#34b78c; color:#fff; width:30px; display:inline-block; text-align:center; -webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px; -o-border-radius: 4px;border-radius: 4px; line-height:29px; padding:1px 2px 3px; margin:20px 2px 5px; font-size:18px;}
.team .social-connect ul li.hide {display:none;}
.team .social-connect ul li.show {display:inline-block;}



/* Tabs */
.su-tabs { margin: 0 0 20px 0 }
.su-tabs-nav {border-bottom:none !important;}
.su-tabs-nav span .su-tab-icon, .su-tabs .pane-wrapper .su-tab-icon{color:#ccc; font-size:22px; padding:0 15px 0 0; float: left; line-height: 1;}
.su-tabs .pane-wrapper:first-child .pane-title{border-top:none;}
.su-tabs .pane-title {display:none; border-top:1px solid #e5e5e5; font-size:12px; color:#444444; padding: 15px 13px; cursor: pointer;}
.su-tabs .pane-title:hover {}
.su-tabs .pane-title.su-tabs-current {font-weight:bold;}

.su-tabs-style-1 .su-tabs-nav { padding: 5px 0 0 0; margin-left:1px; height: 41px;}
.su-tabs-style-1 .su-tabs-nav span { color:#555; font-size:12px; font-weight:bold; display: block; float: left; padding: 0 20px; height: 40px; line-height: 40px; cursor: pointer; border:1px solid #e5e5e5; margin-left:-1px; position: relative; z-index: 5;}
.su-tabs-style-1 .su-tabs-nav span:hover {}
.su-tabs-style-1 .su-tabs-nav span.su-tabs-current { background: #fff; border-bottom:1px solid #fff; filter: none;}
.su-tabs-style-1 .su-tabs-panes { border: 1px solid #E5E5E5;}
.su-tabs-style-1 .su-tabs-pane { padding: 20px; background: #fff; display:none;}
.su-tabs-style-1 .su-tabs-nav span .su-tab-icon{padding-top:9px;}

/*
.su-tabs-style-2 {background:#fff;}
.su-tabs-style-2 .su-tabs-nav {width:200px; float:left; font-size:12px; position:relative;}
.su-tabs-style-2 .su-tabs-nav-shadow {width:100px; position: absolute; right: 1px; top:0px; overflow:hidden; z-index: 2;}
.su-tabs-style-2 .su-tabs-nav-shadow:before {content: ""; width: 1px; height: 91%; position: absolute; top: 5%; right: -17px; box-shadow: 0px 0px 37px 2px #000000; -webkit-box-shadow: 0px 0px 37px 2px #000000; -moz-box-shadow: 0px 0px 37px 2px #000000; overflow: hidden; z-index: 2;
}
.su-tabs-style-2 .su-tabs-nav span {color:#444444; display: block; padding: 18px 10px 18px 0px; cursor: pointer; border-bottom:1px solid #e5e5e5; position:relative; z-index: 5;}
.su-tabs-style-2 .su-tabs-nav span.su-tabs-current{background:#fff; font-weight:bold; filter: none;}
.su-tabs-style-2 .su-tabs-panes{position:relative; left:-1px; padding-left:26px; border-left:1px solid #e5e5e5; overflow:hidden;}
.su-tabs-style-2 .su-tabs-pane{display:none;}
.su-tabs-style-2 .su-tabs-pane p:last-child{ margin-bottom:10px;}
*/		

.su-tabs-style-2 {background:#fff;}		
.su-tabs-style-2.su-tabs .su-tabs-nav{display:none;}
.su-tabs-style-2.su-tabs .pane-title {display:block !important; }
.su-tabs-style-2.su-tabs .pane-wrapper .su-tab-icon{margin-top:-1px;}
.su-tabs-style-2.su-tabs .su-tabs-panes{border:1px solid #e5e5e5 !important; padding-left:0px !important;}
.su-tabs-style-2 .su-tabs-pane{display:none; border:none !important; border-top: 1px solid #e5e5e5 !important; padding:20px;}
		


/* Pricing Box */
.pricing-box-wrapper {padding:0; text-align:center; border: 1px solid #DDDDDD;}
.pricing-box-header {color:#fff; padding:0px 0 30px;height: 50px;padding: 0px 0px 90px;}
.pricing-box-header-content { display:inline-block; }
.pricing-box-title {color:#fff; font-size: 18px; padding:15px 0 0 15px;margin:0px !important; text-align:center;}
.pricing-box-value{text-align: left;padding: 0;margin: 0;font-size: 40px;float: left;line-height: 60px;}
.pricing-box-period{font-size: 14px;text-transform: uppercase;float: left;margin: 30px 0px 0px;padding: 0px 0px 0px 5px;}
.pricing-box-currency{text-align: left;padding: 0 0px 0 15px;margin: 0;font-size: 40px;float: left;line-height: 60px; }
.pricing-box-info{font-size: 16px;padding: 10px 0;float: left;width: 100%;font-weight: bold;color: #fff;margin: 0 0 10px 0;}
.pricing-box-content { font-size:13px;}
.pricing-box-content ul{list-style:none; margin:0; padding:5px 0 0;}
.pricing-box-content ul li {padding: 15px 20px !important; border-bottom: 1px solid #eeeeee; list-style:none !important;}
.pricing-box-content ul li i {vertical-align:middle;}
.pricing-box-content ul li:nth-child(even){background:#f7f7f7;}
.pricing-box-content ul li:last-child{border-bottom:none;}

/* List */
.custom-list {font-size:13px; padding:5px 0;}
.custom-list i {float:left; font-size:16px; padding-right:10px; line-height: 21px;}

/* Box */
.su-box { margin: 0 0 1.5em 0;}
.su-box-title {display: block; padding: 8px 15px; margin:0; color: #fff; font-size: 13px; font-weight: bold; line-height:1.3;}
.su-box-content { 	padding: 15px; background:#f2f3f4; 	}


/* Note */
.su-note { margin: 0 0 1.5em 0;}
.su-note-shell { padding: 10px;}
.su-note-shell i{ padding-right: 10px; vertical-align:middle;}


/* Call out */
.su-callout {padding:25px 27px 25px 23px; border-width:1px; background-color:#fcfcfc; border-color:#E5E5E5; border-left-width: 4px; border-style:solid; margin-bottom:40px; box-shadow: 1px 1px 5px rgba(26, 26, 26, 0.078); -webkit-box-shadow: 1px 1px 5px rgba(26, 26, 26, 0.078); -moz-box-shadow: 1px 1px 5px rgba(26, 26, 26, 0.078);}
.su-callout .callout-content {float:left;}
.su-callout .callout-content h1, .su-callout .callout-content h2, .su-callout .callout-content h3, .su-callout .callout-content h4, .su-callout .callout-content h5, .su-callout .callout-content h6{margin-bottom:0px;}
.su-callout .callout-content p:last-child {margin-bottom:0;line-height:30px;}
.su-callout .callout-button {float:right; height: 40px; line-height: 41px !important; padding: 0px 30px 5px; margin-top:3px;}
.su-callout .callout-button i{margin: 13px 0px 0px -10px;}

/* Dropcap */
.su-dropcap{float: left; display: block; width:50px; font-family: Arial, Helvetica, sans-serif; font-size: 40px; font-weight:bold; line-height: 50px; margin: 4px 8px 0px 0px; text-align: center;  -webkit-border-radius: 60px;-moz-border-radius: 60px;-ms-border-radius: 60px; -o-border-radius: 60px;border-radius: 60px; }


/* Gmap */
.su-gmap {margin: 0; border: none; }
#subhead .su-gmap, #subhead_slider .su-gmap, #subhead_full .su-gmap { margin: 0 0 -6px 0;}


/* Highlight */
.su-highlight { display: inline; padding: 1px 0 2px 0;}
.su-highlight, x:-moz-any-link, x:default {} /* Firefox specific  */
.su-highlight, x:-webkit-any-link, x:default {} /* Chrome specific */

.comment-respond input[type='submit'], 
.contact-form input[type='submit'],
.wpcf7-form input[type="submit"] {
	padding: 10px 15px !important;
	line-height:35px;
}
input[type="submit"] {
cursor:pointer;
padding: 10px 15px !important;
}
/* Button */
.su-button, .wpcf7-form input[type="submit"],
.comment-respond input[type='submit'], 
.contact-form input[type='submit'] {
	display: inline-block;
	background-color:#34b78c;
	color: #fff !important; 
	font-size: 13px;
	font-weight:bold;
	line-height: 33px;
	padding: 0 15px 5px;
	text-align: center;
	
	cursor:pointer;
	position:relative;
	
	box-shadow: inset 0 -3px rgba(0,0,0,.2);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 -ms-border-radius: 5px;
	 -o-border-radius: 5px;
	 border-radius: 5px;
}
.su-button:hover, .wpcf7-form input[type="submit"]:hover,
.comment-respond input[type='submit']:hover, 
.contact-form input[type='submit']:hover {
	color:#ffffff; 
	-webkit-transition: all 0.1s ease-in-out;
	 -moz-transition: all 0.1s ease-in-out;
	 -o-transition: all 0.1s ease-in-out;
	 transition: all 0.1s ease-in-out;
	 
	 box-shadow: inset 0 -1px rgba(0,0,0,.2);
	top: 1px;
}
.su-button:active, .wpcf7-form input[type="submit"]:active,
.comment-respond input[type='submit']:active, 
.contact-form input[type='submit']:active {
	box-shadow: inset 0 0 rgba(0,0,0,.5);
	top: 2px;
}
.su-button i, input[type="submit"] i,
.comment-respond input[type='submit'] i, 
.contact-form input[type='submit'] i {float:left; font-size:16px; margin: 9px 0 0px -4px;padding: 0 15px 0 5px;}

.su-small {
	padding: 0 15px 5px;
	font-size: 13px;
}
.su-medium {
	padding: 5px 20px 10px;
	font-size: 15px;
}
.su-large {
	padding: 10px 25px 15px;
	font-size: 17px;
}

a.su-button {color: #fff !important; line-height:35px !important;}
.su-button.dark {color: #1b1b1b !important;}
.su-button.dark.su-button:hover {color: #1b1b1b !important;}

/* Fancy link */
.su-fancy-link { display: inline-block; margin:10px 0 0 !important; text-decoration: none; font-size:12px !important; clear:both;}
.su-fancy-link span{ padding:0 3px 0 5px; text-decoration: none;}
.su-fancy-link:hover span{ padding:0 0px 0 8px; }

/* Service */
.service-box i {font-size: 32px;text-align: center;display: block; -webkit-border-radius: 30px;-moz-border-radius: 30px;-ms-border-radius: 30px; -o-border-radius: 30px;border-radius: 30px; margin: 0 auto 20px;padding: 5px 12px; float:left; background:#63656a;}

.service-box h5 {margin-bottom:8px;}
.service-content {}

/* Document */
.su-document { border: none !important;}


/* Menu style 1 */
#sitemap_menu, #sitemap_menu ul, #sitemap_menu li{ margin:0; padding:0; list-style:none;}
#sitemap_menu{font-size:13px;}
#sitemap_menu li{padding:3px 0px; line-height:20px; margin-top:1px; position:relative; width:100%;}
#sitemap_menu li p{ margin:0;}

#sitemap_menu li a{padding-left:16px;}
#sitemap_menu li ul{margin-top: 5px; margin-left:28px;}
#sitemap_menu li:before{position:absolute; width:10px; margin-top:9px; content: ""; display: block; border-top:1px solid #E2E2E2;}

#sitemap_menu:after, #sitemap_menu ul:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
#sitemap_menu, #sitemap_menu ul{display:block;}
#sitemap_menu, #sitemap_menu ul{min-height:1%;}
* html #sitemap_menu, * html #sitemap_menu ul{height:1%;}


/* Blog posts */
.latest-blog-entry h2.post-title{font-size:14px; line-height:1.3; margin-bottom:3px;}
.latest-blog-entry .blog-entry-content{margin-left:53px; margin-bottom:20px;}
.latest-blog-entry .blog-entry-date{float:left; width:38px; color:#333; padding:0 0 3px; text-align:center; font-weight:bold; font-size:14px; line-height:1.2; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.196); -webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;border-radius:2px;
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(237,237,237,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.latest-blog-entry .blog-entry-date span{padding:3px 0 2px; margin-bottom:3px; display:block; color:#fff; text-transform:uppercase; font-size:10px; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.102); 
-ms-border-top-left-radius: 5px;
-ms-border-top-right-radius: 5px;
-o-border-top-left-radius: 5px;
-o-border-top-right-radius: 5px;
-webkit-border-top-left-radius: 2px; 
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px; 

background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.198) 0%, rgba(255,255,255,0) 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.198)), color-stop(100%,rgba(255,255,255,0)));
background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.198) 0%,rgba(255,255,255,0) 100%);
background-image: -o-linear-gradient(top,  rgba(255,255,255,0.198) 0%,rgba(255,255,255,0) 100%);
background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.198) 0%,rgba(255,255,255,0) 100%);
background-image: linear-gradient(to bottom,  rgba(255,255,255,0.198) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38ffffff', endColorstr='#00ffffff',GradientType=0 );}

.latest-blog-entry-thumb h2.post-title{font-size:14px; line-height:1.3; margin-top:20px; margin-bottom:3px;}
.latest-blog-entry-thumb .blog-entry-img{margin-bottom:-6px;}
.latest-blog-entry-thumb .blog-entry-content{margin-bottom:20px;}
.latest-blog-entry-thumb .nivo-size-wrap{max-width: 100% !important; margin-bottom:0px;}
.latest-blog-entry-thumb .nivoSlider {width:101%;}
.latest-blog-entry-thumb .nivoSlider img{min-width:100%; }
.latest-blog-entry-thumb.project-list h3 { padding:15px 0; }
.latest-blog-entry-thumb.project-list p { padding:0; }
.latest-blog-entry-thumb .port-hover img {min-height: 237px;max-width: 370px;min-width: 370px;max-height: 237px;}

.project-list .blog-entry-content h3 { padding: 0 0 10px; }
.latest-blog-entry.project-list p { padding:0; }


/* Staff */
.staff-wrapper {width: 99.99999%;color: #fff;}
.staff-wrapper img{margin-bottom:5px; width:100%;}
.person-name{font-weight:bold; font-size:17px; text-transform: uppercase;padding: 0px 10px;color: #fff;}
.person-name i{color: #DDDDDD; float: right; font-size: 42px; line-height: 1;}
.person-title{font-size: 13px;padding: 0px 20px 10px 0;border-bottom: 1px solid;width: 85%;margin: 0 auto;}
.person-description{padding:15px;}

/* Skillbar */
.skillbar-title{
	font-weight:600;
	font-size:14px;
	margin-bottom:0;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 5px 0 10px;
}
span.percentage {
	color:#fff;
	float: left;
	font-weight: 600;
	font-size:14px;
	padding: 0 10px 0 0px;
	height: 40px;
	line-height: 40px;
}
.skillbar-wrapper {width:99.4%; position: relative; height: 40px; background: #f2f2f2; margin-bottom:15px; }
.skillbar { background-color: #34b78b; position:relative; display:block; width:0px; height:40px;

background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:-moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);background-size:40px 40px;
}


/* Post Slider */
.post_slider{width:327px; position:relative; height: 253px;}
.post_slider ul.ui-tabs-nav{position:absolute; top:0; left:327px; list-style:none; padding:0; margin:0; width:250px;}
.post_slider ul.ui-tabs-nav li{font-size:12px; color:#666;}
.post_slider ul.ui-tabs-nav li img{float:left; margin:2px 5px; background:#666; padding:2px; }
.post_slider ul.ui-tabs-nav li.ui-tabs-selected img{  float:left;  margin:2px 5px;  background:#fff;  padding:2px;}
.post_slider ul.ui-tabs-nav li span{font-size:11px; font-weight:bold; padding:5px 5px 0 0px; display:block; line-height:1.3;}
.post_slider li.ui-tabs-nav-item a{display:block;  height:57px;  color:#ddd;  border:1px solid #111; border-bottom:none; padding:2px 0 3px; line-height:1.2;
background-color: #383838;
background-image: linear-gradient(top, #383838 0%, #242424 100%);
background-image: -o-linear-gradient(top, #383838 0%, #242424 100%);
background-image: -moz-linear-gradient(top, #383838 0%, #242424 100%);
background-image: -webkit-linear-gradient(top, #383838 0%, #242424 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #383838), color-stop(1, #242424));
}

.post_slider li.ui-tabs-nav-item:last-child a{ border-bottom:1px solid #111;}
.post_slider li.ui-tabs-nav-item a:hover{color:#fff; background-color: #D92818;
background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
background-image: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* IE10+ */
background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
}

.post_slider ul.ui-tabs-nav li.ui-tabs-selected a{background-color: #D92818; color:#fff;
background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
background-image: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* IE10+ */
background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
}

.post_slider .ui-tabs-panel{ width:327px;  height:253px;  background:#999;  position:relative;}
.post_slider .ui-tabs-panel .info{ position:absolute;  left:0;  right:0; bottom:0; background:#000;  opacity:0.9; filter:alpha(opacity=90);}
.post_slider .info h2{font-size:16px; font-weight:bold; line-height:1.2; color:#fff;  padding:10px 10px 5px;  margin:0; overflow:hidden;}
.post_slider .info p{margin:0 10px;  font-size:11px;  line-height:1.5;  color:#f0f0f0; padding:2px 0px 10px;}
.post_slider .info a{text-decoration:none;  color:#fff;}
.post_slider .info a:hover{text-decoration:underline; }
.post_slider .ui-tabs-hide{display:none;}