/********************************
IPAD LANDSCAPE (1024x768)
********************************/

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px){ 
		html {-webkit-text-size-adjust: none; }
	}
	

@media only screen and (max-width: 1200px) {
	.inside, .project-slide-desc, #top-bar { width:870px; }
	#container-boxed { width:960px; }
	.services-list { width:206px; }
	.services-desc { width:100%; }
	.widget-column { width:195px; }
	.widget-flickr ul { width:210px; }
	.widget-flickr ul li img { max-width:58px; height:58px; }
	.left-sidebar { width:270px; }
	.testi-flexslider .slides li { width:820px !important; }
	.right-content { width:565px; }
	.blog-list { width:267px; }
	.bimage img { max-width:100%; height:auto; }
	.bimage .port-hover img { max-width:100%; height:auto; max-height:340px; }
	.blog-list-sidebar .blog-details {width:100%; margin:10px 0 0px;}
	.sticky .blog-details, .format-quote .blog-details {width:96%;}
	.blog-fullwidth .gallery-post .slides li img { max-width:570px; height:auto; }
	.format-video .bimage {min-height: 150px;}
	.gd-img a img {max-width:267px; height:auto; }
	.bimage .gallery-post, .gd-img {min-height:150px;}
	.blog-page .blog-list { min-height:370px;}
	.fw-img a img {max-width:565px; width:568px; height:auto; }
	.lt-img a img {max-width:364px; width:364px; height:auto; }
	.blog-fullwidth .blog-details {width: 70%;float: right;}
	.blog-list-sidebar .bimage {width: 364px;}
	.blog-mask { top:35%; }
	.comments-p {width:100%;}
	.two-cols img { width: 420px; height: auto; }
	.pimage img { width:100%; height:auto; }
	.three-cols { width:auto; }
	.three-cols .pimage img { max-width:270px; height:auto; }
	.four-cols img { width:auto; height:auto; }
	.four-cols .pimage img { max-width:195px; height:auto; }
	.four-cols h5 { font-size:12px; }
	.project-flexslider ul li img { max-width:870px; height:auto; }
	.project-flexslider ul li .video-js { width:870px !important; height:489px !important; }
	.pslide-desc { width:550px; }
	.left-sidebar.right .widget, .left-sidebar .widget { width:270px; }
	.left-sidebar .widget_search input[type="text"], .password-protected input[type="password"] { width:225px; }
	.left-sidebar .widget-flickr ul, .left-sidebar .widget-dribbble ul { width:280px; }
	.left-sidebar .widget-flickr ul li img, .left-sidebar .widget-dribbble ul li img { max-width:49px; height:49px; }
	.blog-list-single .bimage img { max-width:565px; height:auto; }
	.bimage .video-js { width:565px !important; height:350px !important; }
	.blog-list-sidebar .bimage .blog-mask { top:45%; }
	.comment-details { width:465px; }
	.children .comment-details { width:365px; }
	.children .children .comment-details { width:265px; }
	.comment-respond textarea, .contact-form textarea { width:100%; }
	.slide-image { width:1024px; }
	.home-project-flexslider ul li .slide-image img { max-width:100%; height:auto; }
	.basic-desc { width:330px; }
	.basic-attachment { width:475px; }
	.basic-attachment img { max-width:475px; height:auto; }
	.basic-attachment .video-js { width:475px !important; height:350px !important; }
	.timeline > li .timeline_label {margin-left:13%;}
	.contentblock {margin-top:15px !important;}
	.page-template-template-portfolio-3cols-php  .three-cols:nth-child(n+3) {margin: 0 30px 30px 0 !important;}
	.page-template-template-portfolio-4cols-php  .four-cols:nth-child(n+4) {margin: 0 30px 30px 0 !important;}
	.four-cols { width:260px;}	
	.short_details {margin: 20px 0 0 0 !important;}
	.short_details h4, .short_details h3, .short_details p {padding: 0px 0px 0 !important;}	
	.nf-box { margin: 15% 0px 0px 3%;} 	
}


/********************************
IPAD PORTRAIT (768x1024)
********************************/

@media only screen and (max-width: 960px) {
	body { overflow-x: hidden; }
	input	{max-width:90%;}	
	textarea{max-width:90%;}	
	embed, object, iframe {height:auto; max-width:100%;}
	img {height:auto;}
	.default-logo {padding-bottom: 20px;}
	.su-button {margin-bottom:5px;}
	.column-1-2 {width: 100%;}
	.column-1-3 {width:100%;}
	.column-2-3 { width: 100% }
	.column-1-4 { width: 100% }
	.column-3-4 { width: 100% }
	.column-1-5 { width: 100% }
	.column-2-5 { width: 100% }
	.column-3-5 { width: 100% }
	.column-4-5 { width: 100% }
	.column-1-6 { width: 100% }
	.column-5-6 { width: 100% }
	.column-last {margin: 0 0 3% 0 !important;}
	.inside, .project-slide-desc, .right-content, #top-bar { width:570px; }
	#container-boxed { width:660px; }
	.sf-menu { display:none; }
	.select-menu { display:block; border:1px solid #CFD5D8; width:250px; position:relative; top:45px; }
	.services-list { width:80%; margin-right:0; margin-bottom:45px; }
	.services-desc { width:100%; }
	.left-sidebar { width:100%; margin-bottom:40px; }
	.testi-flexslider .slides li { width:526px !important; }
	.widget-column { width:100%; margin-right:0; }
	.widget-flickr ul { width:100%; }
	.slide-image { width:768px; }	
	.project-list .project-mask { top:40%; }
	.blog-fullwidth .gallery-post .slides li img { max-width:570px; height:auto; }
	.sticky .blog-details {width:96%; margin:10px 0 20px;}
	.gd-img a img {max-width:267px; height:auto; }
	.fw-img a img {max-width:570px; width:570px; height:auto; }
	.lt-img a img {max-width:350px; width:350px; height:auto; }
	.blog-fullwidth .blog-details {width: 410px;float: right;}
	.comments-p {width:100%;}
	.pagination {margin-bottom: 30px;}
	.blog-list-sidebar .bimage {width: 350px;}
	.cat-list li { margin-right:5px; }
	.two-cols { width:270px; }
	.pimage img { width:100%; height:auto; }
	.three-cols { width:255px; }
	.three-cols .pimage img { max-width:170px; height:auto; }
	.four-cols { width:250px; margin-right: 0 30px 30px 0; }
	.four-cols img { width:auto; height:auto; }
	.four-cols .port-hover .overlay .details, .four-cols .port-hover .overlay .zoom { font-size:10px;}
	.four-cols .pimage img { max-width:131px; height:auto; }
	.four-cols a.project-mask { font-size:11px; }
	.project-list h3 { font-size:14px; }
	.project-list p { font-size:12px; }
	.project-page .masonry .last { margin:0 0 4px 0 !important; }
	.project-flexslider ul li img { max-width:570px; height:auto; }
	.project-flexslider ul li .video-js { width:570px !important; height:400px !important; }
	.pinfo { float:left; width:570px; }
	.blog-list { margin-right:35px; margin-bottom:35px; }
	.left-sidebar.right .widget, .left-sidebar .widget, .left-sidebar .widget-flickr ul, .left-sidebar .widget-dribbble ul { width:100%; }
	.left-sidebar .widget-flickr ul li, .left-sidebar .widget-dribbble ul li { margin-right:15px; margin-bottom:15px; }
	.left-sidebar .widget_search input[type="text"], .password-protected input[type="password"] { width:525px; }
	.blog-list-single .bimage img { max-width:570px; height:auto; }
	.bimage .video-js { width:570px !important; }
	.horScroll { height:380px; }
	.basic-desc { margin-bottom:30px; }
	.basic-desc { width:92%; }
	.basic-attachment { width:100%; }
	.basic-attachment img { max-width:100%; height:auto; }
	.basic-attachment .video-js { width:100% !important; height:350px !important; }
	
	.short_details {margin: 20px 0 0 20px !important;}
	.short_details h4, .short_details h3, .short_details p {padding: 0px 0px 0 !important;}	
	
	.nf-box { margin: 0; width: 570px;} 
	.page-not-found img { display:none;}
	.page-nf-line { display:none; }

	.entry-content img { max-width: 100%; height: auto; } 
	.alignnone, .alignleft { margin: 5px 15px 5px 0px; }
	.alignright { margin: 5px 0px 5px 15px;}
	.su-gmap {height:300px;}
	
	.latest-blog-entry-thumb .port-hover img {
		min-height: 100%;
		max-width: 100%;
		min-width: 100%;
		max-height: 100%;
	}
	
}


/********************************
IPHONE 4-4S-5 LANDSCAPE (568x320)
********************************/

@media only screen and (max-width: 760px) {
	embed, object, iframe {height:auto;}		
	#title-wrapper {-webkit-background-size: auto;-moz-background-size: auto;-o-background-size: auto;background-size: auto;}
	.column {float: none !important; width: 100% !important;}
	.su-tabs .su-tabs-nav{display:none !important;}
	.su-tabs .su-tabs-panes{border:1px solid #e5e5e5 !important; padding-left:0px !important;}
	.su-tabs .pane-title {display:block !important;}
	.su-tabs .su-tabs-pane{border:none !important; border-top: 1px solid #e5e5e5 !important; padding:20px;}
	.client-wrapper {text-align:center;}
	.pull-right, .pull-left  {float:none; display:block; text-align:center;}
	#respond input, #respond textarea {width: 100%;} 
	.su-callout .callout-content{float:none;}
	.su-callout .callout-button {float:none; margin-top:20px;}
	#top-bar{padding:15px 0px;}
	#top-bar  ul{text-align:center;}
	#top-bar #topright-widget-area ul{margin-top:5px; float:none;}
	#top-bar ul li {display: inline-block; float: none;}
	.contentblock {margin-top:15px !important;}
	
	.inside, .project-slide-desc, .right-content, #top-bar { width:350px; }
	#topright-widget-area, #topleft-widget-area {width:100%;}
	#topleft-widget-area {padding:0;}
	#topright-widget-area {text-align:left;}
	#container-boxed { width:440px; }
	.right-content { margin-bottom:20px; }
	.breadcrumbs { display:none; }
	.logo { width:100%; margin-top:20px; margin-bottom:20px; }
	.logo h1 { text-align:center; }
	.logo img { max-width:350px; height:auto; }
	.select-menu { width:350px !important; top:0; margin-bottom:30px; }
	.services-list { width:286px; }
	.services-desc { width:100%; }
	
	.testi-flexslider .slides li { width:306px !important; }
	.slide-image { width:100%; }
	.blog-list { margin-right:0; width:350px; }
	.bimage img { max-width:100%; height:auto; }
	.gd-img a img, .blog-fullwidth .gallery-post .slides li img { max-width:350px; height:auto; }
	.fw-img a img {max-width:350px; width:350px; height:auto; }
	.blog-fullwidth .bimage {width:348px;min-height: 180px;}
	.bimage .port-hover img {max-height: 250px;}
	.blog-list-sidebar .bimage {width:100%;}
	.lt-img a img {max-width:350px; width:350px; height:auto; }
	.comments-p {width:100%;}
	.blog-fullwidth .blog-details {width: 52%;float: right;}
	
	.horScroll { height:290px; }
	.horScroll .pimage img { max-width:165px; height:auto; }
	.project-block ul li { margin-right:20px; margin-bottom:20px; max-width:100%; }
	.home-project-flexslider ul li img { max-width:640px; height:auto; }	
	.project-slide-desc { top:40px; }
	.project-slide-desc h2 { font-size:20px; }
	.home-project-flexslider { height:275px; }
	.home-project-flexslider .flex-control-paging li a { width:20px; }
	.project-slide-desc .view-port { font-size:14px; }
	.cat-list li { margin-bottom:5px; }
	.cat-list li a { font-size:14px; }
	.project-list { margin-right:0; }
	.two-cols, .three-cols { width:350px; }
	.pimage img, .three-cols .pimage img, .project-flexslider ul li img, .blog-list-single .bimage img { max-width:350px; height:auto; }
	.project-flexslider ul li .video-js, .bimage .video-js { width:350px !important; height:262px !important; }
	.four-cols { width:auto; margin-right:15px; margin-bottom:15px; }
	.pslide-desc, .pinfo { width:100%; }
	.left-sidebar .widget_search input[type="text"], .password-protected input[type="password"] { width:305px; }
	img.avatar { margin-bottom:20px; }
	.comment-details { width:350px; }
	.children .parent { margin-left:40px; }
	.children .comment-details { width:310px; }
	.children .children .parent { margin-left:80px; }
	.children .children .comment-details { width:270px; }
	.comment-respond textarea, .contact-form textarea { width:100%; }
	.footer-menu { float:left; width:100%; }
	.footer-menu ul li { margin-left:0; margin-right:10px; }
	.copyright { display:block; margin-bottom:10px; }
	a#toTop { bottom:20px; right:20px; }
	.basic-attachment .video-js { height:200px !important; }
	.timeline > li .timeline_label {margin-left:20%;}
	.timeline:before {margin-left:1px;}
	
	.short_details {margin: 20px 0 0 0 !important;}
	.short_details h4, .short_details h3, .short_details p {padding: 0px 0px 0 !important;}
	
	.nf-box { margin: 0; width: 350px;} 
	.page-not-found img { display:none;}
	.page-nf-line { display:none; }
		
	
}


/********************************
IPHONE 4-4S-5 PORTRAIT (320x568)
********************************/

@media only screen and (max-width: 450px) {
	.inside, .project-slide-desc, .right-content, #top-bar { width:230px; }
	#container-boxed { width:320px; }
	#top-bar{width: 100%;}
	#topleft-widget-area .custom-list { margin-left:20px; }
	.select-menu { width:230px !important; }
	a.view-all, .project-slide-desc { display:none; }
	.horScroll { height:350px; }
	.home-project-flexslider { height:200px; }
	.project-block ul li { width:230px; }
	.services-list { width:166px; }
	.services-desc { width:100%; text-align:center; }
	#fancybox-wrap, #fancybox-frame, #fancybox-content  {max-width:400px;}
	
	.gd-img a img, .blog-fullwidth .gallery-post .slides li img { max-width:250px; height:auto; }
	.blog-list-sidebar .bimage, .blog-list-sidebar .gd-img a img {width: 230px;}
	.bimage .gallery-post, .gd-img { min-height: 140px;}
	
	.fw-img a img {max-width:250px; width:250px; height:auto; }
	.blog-fullwidth .bimage, .blog-list .bimage {width:250px;}
	.lt-img a img {max-width:230px; width:230px; height:auto; }
	.sticky .blog-details, .format-quote .blog-details {width:250px; margin:10px 0 0px;}
	.sticky {width: 252px;}
	.page-template-template-blog-fullwidth-php .sticky .blog-details {width: 92%;padding: 0 10px;}
	.bimage .port-hover img {max-height: 300px;}
	.blog-fullwidth .bimage {min-height: 156px;}
	.blog-list-sidebar .blog-details {min-width: 250px;}
	.lt-img {min-height: 130px;}
	
	.blog-fullwidth .blog-details {width: 100%;float: right;padding:0px;}
	.comments-p {width:100%;}
	.short_details {margin: 20px 0 0 0 !important;}
	.short_details h4, .short_details h3, .short_details p {padding: 0px 0px 0 !important;}
	
	.single-post .format-quote blockquote:before {left: -30px;}
	.single-post .format-quote blockquote {padding:0px 0 0 25px;}

	.testi-flexslider .slides li { width:186px !important; }
	.blog-list, .two-cols, .three-cols, .four-cols, .comment-details { width:250px; }
	.four-cols .port-hover .overlay .details, .four-cols .port-hover .overlay .zoom { font-size:12px;}
	.bimage img, .pimage img, .three-cols .pimage img, .four-cols .pimage img,
	.project-flexslider ul li img, .blog-list-single .bimage img, .horScroll .pimage img { max-width:230px; }
	.blog-flexslider .bimage img { width:100%; }
	.project-flexslider ul li .video-js, .bimage .video-js { width:230px !important;  height:172px !important; }
	.project-flexslider .flex-direction-nav { top:40%; }
	.left-sidebar .widget_search input[type="text"], .password-protected input[type="password"] { width:185px; }
	.blog-list-sidebar .bimage .blog-mask { top:35%; }
	.children .parent { margin-left:20px; }
	.children .comment-details { width:210px; }
	.children .children .parent { margin-left:40px; }
	.children .children .comment-details { width:190px; }
	.comment-respond input[type="text"], .comment-respond textarea, .contact-form input[type="text"], 
	.contact-form textarea, .comment-respond textarea, .contact-form textarea { width:100%; margin-right:0; }
	.timeline > li .timeline_label {margin-left:25%;}
	.timeline:before {margin-left:3px;}
	
	.skillbar-title, span.percentage { font-size:12px;}
	.count {min-width:270px;}
	.nf-box { margin: 0; width: 250px;} 
	.page-not-found img { display:none;}
	.page-nf-line { display:none; }
}