/*
Theme Name: Valise
Theme URI: http://www.defatch.com/themes/valise
Author: Defatch
Author URI: http://www.themeforest.net/user/defatch
Description: Hey! The Valise theme is a truly original choice for showcasing your artworks & illustrations with style and balance.
Version: 2.0
License: GNU General Public License v2 or later
License URI: license.txt
Tags: white, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, custom-background, custom-menu, featured-image-header, featured-images, full-width-template, post-formats, theme-options, translation-ready
*/

/****************************
RESET STYLES * HTML5
****************************/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { font-family:'Open Sans', sans-serif; font-size:13px; line-height:1.5em; color:#8c9295; } 
body embed { position:absolute; top:0; right:0; }
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { display:block; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #CCC; margin:0; padding:0; }
pre { background:#273039; margin:20px 0; overflow-x: scroll;}
pre h2 { font-size:20px; background:#34b78b; color: rgb(255, 255, 255);padding: 10px 20px;margin: 0px;font-weight: 600;text-align: center; display: inline-block; border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius:2px;-moz-border-bottom-right-radius:2px;}
pre code { color:#fff; padding:20px 20px 30px; display:block;}
input, select { vertical-align:middle; }
select { border:1px solid #CFD5D8 !important;}
input, textarea, select { font:13px arial; color:#333; border:0; padding:4px; }
h1, h2, h3, h4, h5, h6 { font-family:arial, sans-serif; display:block; color:#25292b; margin-bottom:20px; font-weight:normal; }
h1 { font-size:26px; }
h2 { font-size:24px; }
h3 { font-size:22px; }
h4 { font-size:20px; }
h5 { font-size:18px; }
h6 { font-size:16px; }
a:link, a:visited { color:#1f1f1f; text-decoration:none; transition:all 0.2s ease-out 0s; -webkit-transition:all 0.2s ease-out 0s; -moz-transition:all 0.2s ease-out 0s; }
a:hover { color:#a2a6a7; }
p { margin-bottom:20px; }
img, iframe { vertical-align:top; }
input, textarea { font:13px 'Open Sans', sans-serif; -webkit-appearance:none; -webkit-border-radius:0; -webkit-border-radius: 3px; }
textarea:focus, input:focus { outline: none; }
select { -webkit-border-radius:0; }
input[type="submit"] { transition:all 0.2s ease-out 0s; -webkit-transition:all 0.2s ease-out 0s; -moz-transition:all 0.2s ease-out 0s; }
img { -webkit-transform:rotate(0); -moz-transform:rotate(0); transform:rotate(0); -moz-backface-visibility: hidden; }
.last { margin:0 !important; }
::selection { background:#72798a; color:#FFF; }
::-moz-selection { background:#72798a; color:#FFF; }


/****************************
IE8 HTML5
****************************/

header, nav, section, article, aside, footer, hgroup { display: block; }


/****************************
GLOBAL STYLES
****************************/

.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
#container { width:100%; }
#container-boxed { width:1300px; margin:0 auto; }
.inside { width:1170px; margin:0 auto; }
header { background:#FFF; /*position:absolute; top:60px; width:100%;*/ }
.logo { width:163px; float:left; padding:10px 0; }
.retina-logo {display:none;}
.logo h1 {margin-bottom: 0px;line-height: 30px;padding-top: 25px; }
nav { float:right; }
.menu ul li { margin-left:1px; }
.menu ul li a:link, .menu ul li a:visited { padding:25px 25px 25px; }
.menu ul li a:hover i { color:#34b78c; }
.menu ul li li a .menu-title { color:#fff !important; }
.menu ul li.current_page_item a, .menu ul li.current-menu-ancestor a { padding:25px; }
.menu ul li a span { display:block; text-align:center; }
.menu ul li a .menu-title { font-family: 'Open Sans', Arial, sans-serif; color:#25292b; font-weight:bold; font-size:14px; text-transform:uppercase; }
.menu ul li a .menu-description { font:12px arial, helvetica, sans-serif; color:#777; padding-bottom:10px; }
.menu ul li.current-menu-ancestor a .menu-description i, .menu ul li:hover a .menu-description i { color:#34b78c; }
.menu ul li a .menu-description i { font-size:22px; color:#25292b; }
.menu-item-type-taxonomy .menu-description {display:none;}
.select-menu { display:none; }


/****************************
LAYOUT
****************************/

/* Top area */
#top-bar-wrapper{ background:#34b78c;}
#top-bar{width:1170px; margin:0 auto; padding:10px 0;}

#topright-widget-area {
	width: 48%;
	float: left;
	text-align: right;
	line-height:31px;
}
#topleft-widget-area {
	width: 48%;
	float: left;
	text-align: left;
	padding-left: 20px;
	line-height:31px;
}
#topleft-widget-area .custom-list {padding:0; float:left;}
#topleft-widget-area .custom-list:nth-child(1n+2) {margin-left:20px;}
#topleft-widget-area .custom-list i {float:none;}

.contents { padding-bottom:40px; }
.welcome-text { background:#fff; border-top:1px solid #bec0c3; }
.welcome-block { padding:40px 0; text-align:center; background:none; }
.welcome-block h2 { font-size:41px; font-weight:lighter; line-height:50px; width:80%; margin:0 auto !important;}
.welcome-block p { color:#8c9295; text-shadow:0 1px 1px #FFF; font-family:'Open Sans', sans-serif; margin-bottom:30px; }
a.view-all { 
    border:none; color:#34b78b; font-weight:700; font-size:14px; font-family: arial, helvetica, sans-serif; text-transform:uppercase; display:inline-block;
    padding:10px 15px 15px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; line-height:20px;
	box-shadow: inset 0 -3px rgba(0,0,0,.2);
	position:relative;
	font-weight:600;
}
a.project-mask {
	padding:6px 15px 10px;
}
.welcome-block a:hover { 
	color:#FFF; 
	top:2px;
}

.home-services, .blog-page, .contact-page, .theme-pages, .project-page { background:#FFF; padding:40px 0; }
.theme-pages {display: inline-block;width: 100%;margin: 0px auto -10px;}
.home-services { padding:20px 0 0; }
.testimonial_list {margin-bottom:40px;}
.services-block { padding:20px 0; }
.services-block ul li:nth-child(n+4) {
	margin-top:70px;
    display: inline-block;
}
.services-list { float:left; border:2px solid #E1E6E9; padding:30px; width:306px; margin-right:10px; -webkit-border-radius: 2px;  -moz-border-radius: 2px;  -ms-border-radius: 2px;  -o-border-radius: 2px;  border-radius: 2px;}
.services-list h5 {font-size:20px; font-family: arial, helvetica, sans-serif; margin-bottom:15px; line-height:20px; font-weight:600; }
.services-list .hide { display:none; }
.services-desc { float:left; width:100%; font-size:13px; font-family:arial, helvetica, sans-serif; color:#8c9295; line-height:20px; margin-top: 20px; }
.services-desc .su-button {line-height: 35px;}
.services-desc p { margin-bottom:0; }

/* CONTENT BLOCK */
.contentblock {
	padding:50px 35px 20px;
	border:2px solid #f5f5f5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	text-align: center;
	margin-top:30px !important;
}
.contentblock .iconcircle{
	position: absolute;
}
.iconcircle{
	background: #dfdfdf;
	width:85px;
	height:65px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	
	top:-46px;
	margin: 0 auto;
	right:0;
	left:0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	border: 8px solid #f6f6f6;
	font-size:40px;
	color:white;
	padding-top: 20px;
}
.contentblock:hover .iconcircle {
	background: #34b78b;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	border: 8px solid #f6f6f6;
}
.contentblock .smallpadding {
	padding: 10px 20px;
}

/* END OF CONTENT BLOCK */


.title-breadcrumb { padding:0; }
.ptitle { color:#FFF; font:700 22px arial, helvetica, sans-serif; text-transform:none; margin-bottom:0; display:inline-block; padding: 30px 20px 28px;background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7); margin:0 !important; }
.breadcrumbs { float:right; font-size:15px; font-family:arial, helvetica, sans-serif; text-transform:none; color:#FFF; margin-top:30px; -webkit-border-radius: 3px;-moz-border-radius: 3px;	-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;background: #34b78c; padding:5px 10px; font-weight:normal !important; }
.breadcrumbs a { color:#fff; font-size:15px; font-weight:700;}

.title-breadcrumb { background:#273139; }
.home-projects { background:#fff;}
.project-block { padding:10px 0 35px; position:relative; }
.project-block h2 { color:#FFF; font-weight:normal; font-size:22px; font-family: arial, helvetica, sans-serif; padding-bottom:10px; border-bottom:2px solid #FFF; text-transform:uppercase; display:inline-block; margin-bottom:40px; }
.project-block ul li { float:left; margin-right:30px; margin-bottom:30px; }
.project-block ul li:last-child { margin-right:0; }
.project-block ul li h5, .project-list h3 { background:none; padding:15px 0px 0px; color:#273039; font-weight:600; font-size:16px; font-family: arial, helvetica, sans-serif; text-transform:capitalize; }
.project-block ul li p, .project-list p { padding:5px 0 0; margin:0; font-size:13px; }
.project-block ul li img, .bimage img, .pimage img { 
    border-top-left-radius:2px; border-top-right-radius:2px; 
    -webkit-border-top-left-radius:2px; -webkit-border-top-right-radius:2px;
    -moz-border-top-left-radius:2px; -moz-border-top-right-radius:2px;
}
.pimage { position:relative; background:#25292b;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px;}
.project-mask { opacity:0; position:absolute; top:45%; text-align:center; width:100%; }
.project-mask .title-hover {
	padding:20px 10px 5px;
	font-size:24px;
}
.cat-hover a {
	padding:5px 5px 10px;
	font-size:15px !important;
}
.pimage i, .single-hover a {
	font-size:28px;
	font-weight:normal !important; 
	color:#FFF !important; 
	text-align:center;
}
a.project-mask, .blog-mask a, .pimage a { color:#FFF !important; text-shadow:none; font-size:28px; font-weight:normal !important; }
a.view-all:hover { color:#ffffff; 
	-webkit-transition: all 0.1s ease-in-out;
	 -moz-transition: all 0.1s ease-in-out;
	 -o-transition: all 0.1s ease-in-out;
	 transition: all 0.1s ease-in-out;
	 
	 box-shadow: inset 0 -1px rgba(0,0,0,.2);
}
.horScroll { height:350px; overflow:hidden; }
a.view-all { 
	position:absolute;
	right:0; 
	top:10px;
	display: inline-block;
	background-color:#34b78c;
	color: #fff !important; 
	font-size: 13px;
	font-weight:bold;
	height: 33px;
	line-height:33px;
	padding: 3px 15px 5px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	
	cursor:pointer;
	
	box-shadow: inset 0 -3px rgba(0,0,0,.2);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	}
.project-slide-desc { width:1170px; margin:0 auto; position:relative; top:180px; }
.project-slide-desc h2 { color:#FFF; font:48px arial, helvetica, sans-serif; margin-bottom:40px; }
.project-slide-desc h3 { margin-bottom:10px; }
.project-slide-desc h3 a { color:#34b78b; font-weight:700; font-size:15px; font-family: arial, helvetica, sans-serif; text-transform:uppercase; }
.project-slide-desc .view-port { 
    color:#FFF; font-family:arial, helvetica, sans-serif; font-weight:700; font-size:17px;border:2px solid #FFF; padding:6px 15px; text-transform:uppercase;
    -webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px; 
}
.project-slide-desc .view-port:hover { background:#FFF; color:#333; } 
.slide-image { position:absolute; }
.project-page .last { margin:0 0 30px 0 !important; }

.project-list { float:left; margin-right:30px; margin-bottom:30px; }
.project-list .project-mask { top:44%; }
.project-list h3 { background:#none; color:#273039; margin:0 !important;}

/* Mansory */
.mansory-wrapper .mansory {margin:0 4px 4px 0 !important; }
.mansory-wrapper .mansory .last { margin:0 4px 4px 0 !important; }
.mansory h5 { display:none; }

/* Mansory Featured */
.mansory-featured h5 {
	display:none;
}
.mansory-featured ul li {
	margin:0 4px 4px 0 !important;
}

.two-cols { width:auto; }
.three-cols { width:370px; }
.four-cols { width:270px; }
.cat-toogles { padding-bottom:50px; }
.cat-list li { float:left; margin-right:15px; }
.cat-list li a { border:none; color:#34b78b; font-weight:700; font-size:14px; font-family: arial, helvetica, sans-serif; text-transform:uppercase; display:inline-block;padding:8px 15px 13px; 
-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px; line-height:20px;box-shadow: inset 0 -3px rgba(0,0,0,.2);position:relative;font-weight:600;}
.cat-list li a:hover { background:#848B8F; color:#FFF; box-shadow: inset 0 0px rgba(0,0,0,.2); top:1px; }
.cat-list li.current-cat a { background:#848B8F; color:#FFF; box-shadow: inset 0 0px rgba(0,0,0,.2); top:1px; }
.cat-list li.current-cat a:hover { background:#848B8F; color:#FFF; box-shadow: inset 0 0px rgba(0,0,0,.2); top:1px; }
a.visit {border:none; color:#fff; font-weight:700; font-size:14px; font-family: arial, helvetica, sans-serif; text-transform:capitalize; display:inline-block;padding:8px 15px 13px; line-height:20px;position:relative;font-weight:600;background-color:#273139;}
a.visit:hover { background:#34b78b; color:#FFF; box-shadow: none; }
.project-flexslider { margin-bottom:30px !important; }
.pslide-desc { width:850px; float:left; }
.pinfo { float:right; width:260px;padding: 20px 19px 0;margin-left: 0; border:1px solid #dfdfdf; }
.pcategory { display:block; margin-bottom:20px; }
.pcategory span { display:block; color:#25292b; font:600 13px 'Open Sans', sans-serif; margin-bottom:8px; }
.pcategory a { color:#848b8f; }

.left-sidebar { float:left; width:370px; }
.left-sidebar.right { float:right; }
.right-content { float:right; width:770px; }
.right-content.left { float:left; }
.contents { background:#FFF; padding:40px 0; }
.contents h2 { color:#848b8f; font-weight:600; font-size:17px; font-family: arial, helvetica, sans-serif; padding:15px 0; margin-bottom:30px; border-bottom:1px solid #848B8F; display:inline-block; width:100%; }




.latest-work-columns .item-image {
  position: relative;
}
.latest-work-columns .item-image .overlay-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #485460;
  background-color: rgba(72, 84, 96, 0.85);
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.latest-work-columns .item-image .overlay-container .content-title {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
}
.latest-work-columns .item-image .overlay-container .content-title .icn-container {
  border: 2px solid #e76b5c;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;border-radius: 50%; 
}
.latest-work-columns .item-image .overlay-container .content-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -30px;
}

/* Image Hover */
.port-hover {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.port-hover img {
  max-width: 100%;
}
.port-hover.shapes .overlay .details {
  left: 48%;
}
.port-hover.shapes .overlay .zoom {
  right: 54%;
}
.port-hover.shapes .overlay:hover .zoom,
.port-hover.shapes .overlay:hover .details {
  top: 63%;
}
.port-hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  z-index: 20;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.port-hover .overlay .zoom,
.port-hover .overlay .details {
  display: block;
  color: #fff;
  background: #333;
  padding: 0 10px;
  line-height: 32px;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  top: 80%;
  margin-top: -16px;
  z-index: 40;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.port-hover .overlay .zoom i,
.port-hover .overlay .details i {
  margin: 0 8px 0 0;
}
.port-hover .overlay .zoom:hover,
.port-hover .overlay .details:hover {
  color: #373737;
  background: #fff !important;
}

.port-hover .overlay .details {
  left: 51%;
  -webkit-transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition-delay: 0.1s, 0.1s, 0s, 0s;
  -moz-transition: top 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: top 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: top 0.4s ease-in-out 0.1s, opacity 0.4s ease-in-out 0.1s, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.port-hover .overlay .zoom {
  right: 51%;
  -webkit-transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -moz-transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.port-hover:hover .overlay {
  background-color: rgba(52, 183, 139, 0.8);
}
.port-hover:hover .overlay .details,
.port-hover:hover .overlay .zoom {
  top: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


/* Blog Page */
.blog-block { position:relative; }
.blog-block a.view-all { border:none; color:#848B8F; top:0; }
.blog-block a.view-all:hover { background:#848B8F; color:#FFF; }
.blog-block .blog-list {border-bottom:none;}
.blog-list { float:left; margin-right:30px; width:370px; border-bottom:1px solid #E2E2E2; }
.blog-list.last { margin-bottom:30px !important; }
.bimage { position:relative; width:100%; margin: 0; }
.single-desc .bimage {margin: 0 0 20px 0;}
.blog-mask { position:absolute; top:45%; text-align:center; width:100%; opacity:0; }
.blog-mask a { padding:12px 15px; }
.blog-desc { 
	padding:20px; 
	position:relative;
	border:2px solid #E1E6E9; border-top:0; color:#8c9295; 
	border-bottom-left-radius:2px; border-bottom-right-radius:2px; 
    -webkit-border-bottom-left-radius:2px; -webkit-border-bottom-right-radius:2px;
    -moz-border-bottom-left-radius:2px; -moz-border-bottom-right-radius:2px;
}
.single-services .single-desc,
.single-testimonials .single-desc{
	padding:0 0 20px; 
}
.single-services .services-heading,
.single-testimonials .testimonials-heading{
    margin: 0px 0px 25px !important;
}
.single-testimonials .testimonials {
	color:rgb(140, 146, 149);
}
.single-testimonials .comments {
	display:none;
}
.single-desc { 
	padding:20px 0; 
	position:relative;
	border-bottom:2px solid #E1E6E9;
	color:#8c9295; 
}
.single-desc .divider-arrow-down {
	background-color:#E1E6E9;
	border-top-color:#E1E6E9;
	margin-bottom:20px;
}

.blog-desc h5, .blog-desc h5 a { 
	color:#25292b; 
	display:inline-block;
	font-weight:700; 
	font-size:17px;
	margin:5px 0;
	}
.blog-desc h5 a:hover { color:#666; }

/* Blog Full Width */
.blog-fullwidth { width:100%; border-bottom:1px solid #E2E2E2; margin:0 0 50px; padding:0; float:left;}
.blog-fullwidth .entry-meta {float: left;width: 140px;text-align: center;margin-top: 5px;}
.blog-fullwidth .entry-meta span {display: block;padding: 10px 0;margin-bottom: 0;}
.fw-details { float:left; }
.blog-fullwidth .blog-details {padding: 15px 10px;width: 610px;float: left;}
.blog-fullwidth img {width: 100%;} 
.blog-fullwidth .blog-details h5, .blog-list .blog-details h5 {margin:0 0 10px 0; }
.blog-fullwidth .blog-details h5 a, .blog-list .blog-details h5 a, .blog-list-sidebar .blog-details h5 a {color:#25292b;display:inline-block;font-weight:700; font-size:18px;margin:5px 0;}
.blog-list-sidebar {padding:0 0 20px 0 !important;}
.blog-list-sidebar .blog-details h5 a {margin:0;}
.fw-img {margin-right:10px; float:left;}
.fw-img a img {max-width:770px; width:770px; height:auto; }
.grid-list .blog-details {padding: 15px 0;}
.blog-list:nth-child(n+4) {margin-left: 0;}
.list-info {width: 100%;float: left; padding: 10px 0;}
.list-info .featured-blog-details, .blog-list-sidebar .featured-blog-details, .pdate, .tags {border-bottom:none;}

.featured-blog-details, .pdate, .tags { border-bottom:1px solid #E2E2E2; font-family:arial, helvetica, sans-serif; font-weight:600; font-size:13px; color:#6c7278; }
.featured-blog-details a { color:#6c7278; font-weight:600; }
.featured-blog-details { margin-right:10px; }
.featured-blog-details i { color:#6c7278; padding-right:8px; }

.project-detail { float:left; font-weight:normal; font-size:13px; color:#6c7278; text-decoration:none; list-style:none; width:100%; margin-bottom:20px; padding:0; }
.project-detail a { color:#6c7278; }
ul.project-detail li { margin-bottom:10px; }
ul.project-detail li i {color:#6c7278; padding-right:8px; font-size:18px; width: 20px;text-align: center;float: left;}


.blog-detail { float:left; font-weight:normal; font-size:13px; color:#6c7278; text-decoration:none; list-style:none; width:100%; margin-bottom:20px; }
.blog-detail a { color:#6c7278; }
.blog-detail span { margin:0 20px 0 0; display:inline-table; text-transform:capitalize; padding:10px 0 0 0;}
.blog-detail-full span { margin: 10px 10px 0px 0 !important; display:inline-block; text-transform:capitalize; }
.blog-detail-full .su-button { float:right;}
.blog-detail span:first-child { margin:0 20px 0 0; display:inline-block; }
.blog-detail span i {color:#6c7278; padding-right:8px; font-size:18px; width: 20px;text-align: center;float: left;}
.blog-details blockquote { margin:0; }

.pdate { float:right; }
.pdate:before { content: "\f133"; font-family: FontAwesome; font-style: normal; font-weight: normal; color:#34b78b; padding-right:10px; }

.blogdetails {
	width:76px;
	vertical-align: top;
}
.blogdetails .date {
	background: #1d1d1d;
	width:59px;
	font-weight:bold;
	font-size:16px;
	color:white;
	text-align: center;
	border-bottom:4px solid #34b78b;
	padding:15px 0;
	position: absolute;
	z-index: 1000;
	left: 20px;
	-webkit-box-shadow:0px 0px 3px rgba(0,0,0,.5);
	box-shadow:0px 0px 5px rgba(0,0,0,.5);
	top:1px;
}
.blog-fullwidth .blogdetails .date {top:0px;}
.blogdetails .date .number {
	font-size:28px;
	display:block;
	line-height: 30px;
}

.tags:before { content: "\f02c"; font-family: FontAwesome; font-style: normal; font-weight: normal; color:#34b78b; padding-right:10px; }
.menu-item .tags:before {content:inherit;}

/* Blog List Sidebar Template */
.blog-list-sidebar {padding-bottom:20px; border-bottom:1px solid #dfdfdf; display:inline-block;}
.blog-list-sidebar:last-child {padding-bottom:0px;border-bottom:none;}
.blog-page .blog-list, .blog-list-sidebar, .blog-list-single { margin-bottom:30px; }
.blog-list-single .bimage {margin:0 0 20px 0;}
.blog-list-sidebar .author, .blog-list-sidebar .pdate, .blog-list-single .author, .blog-list-single .pdate { margin-right:20px; }
.blog-list-sidebar .pdate, .blog-list-single .pdate { float:left; }
.blog-list-sidebar .continue, .blog-list-single .continue { color:#34b78b;font-family:arial, helvetica, sans-serif; font-weight:700; font-size:13px; }
.blog-list-sidebar .continue:hover, .blog-list-single .continue:hover { color:#29adab; }
.blog-list-sidebar .bimage {width:364px; display:inline-block; float:left;}
.page-template-template-blog-list-sidebar-php .blog-list-sidebar .bimage { display:inline-block;}
.blog-list-sidebar .blog-details {width:49%;float:right;min-width: 380px;padding: 0 0 0 15px;}
.blog-details .su-button {line-height:35px;margin: 10px 0;}
.blog-list-sidebar .blog-details h5 {margin:0;}
.blog-list-sidebar .blog-details p {margin:10px 0;}
.single-format-gallery .bimage, .single-format-video .bimage, .format-gallery .bimage, .format-video .bimage {background:none !important;}
.format-standard {padding:0;}
.single-post .single-desc {padding:0 0 20px 0px;}
.single-format-standard .bimage {display:none;}
.author-block { padding:20px; color:#8c9295; margin-bottom:30px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;background:#e1e6e9; }

/* Posts Navigation Styles(wp_link_pages) */
.post-navigation {margin:20px 0;}
.post-navigation span {background:#34b78c; color:#fff; width:30px; font-weight:bold; display:block; text-align:center; -webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px; line-height:29px; padding:1px 2px 3px; margin-bottom:5px; display: inline-block;}
.post-navigation a span {background:#273039; display: inline-block;}
.post-navigation a:hover span {background:#34b78c;}
.post-navigation span:hover {background:#273039;}

/* For Sticky */
.blog-page .blog-list {display:block; float:left; min-height: 399px;}
.bimage .gallery-post {min-height:210px;}
.blog-list-single .bimage .blog-flexslider {min-height: 60px;}
.bimage .gallery-post, .gd-img, .format-video .bimage, .lt-img, .blog-fullwidth .bimage {min-height:210px; border: 1px solid #E2E2E2; background: #fff;}
.gd-img .port-hover img, .lt-img .port-hover img {max-height: 210px;height: 210px; width:100%;}
.sticky .list-info {padding: 10px 0px 10px 10px;}
.sticky .blog-details {display: inline-block;padding: 0 10px;}
.sticky .lt-img, .format-quote .lt-img {margin:5px;}
.page-template-template-blog-list-sidebar-php .sticky .blog-details,
.page-template-template-blog-list-sidebar-php .format-quote .blog-details {display: inline-block;padding: 10px;}

/* Quote */
.format-quote {background-color: #ecf0f2;}
.format-quote h2 {margin:25px 0 0 !important;}
.format-quote .list-info {padding: 10px 0px 10px 10px;}
.format-quote .blog-details {display: inline-block;padding: 0 10px;}
.format-quote .entry-content,
.format-quote .entry-meta {color: #f7f5e7;}
.format-quote .entry-content blockquote {font-size: 28px;margin: 0;}
.format-quote .entry-content a,
.format-quote .entry-meta a,
.format-quote .linked {color: #e63f2a;}
.format-quote .entry-content cite a {border-bottom: 1px dotted #fff;color: #fff;}
.format-quote .entry-content cite a:hover {	text-decoration: none;}
.format-quote blockquote small,
.format-quote blockquote cite {display: block;font-size: 16px;}
.format-quote blockquote {font-style: italic;font-weight: 300;padding-left: 75px;position: relative;}
.format-quote blockquote:before {content: '\201C';font-size: 110px;font-weight: 400;line-height: .8;padding-right: 0;position: absolute;left: 0px;top: 0px;}
.format-quote .entry-meta .author {display: none;}
.single-desc blockquote {font-size: 20px;line-height: 24px;}
.single-desc blockquote cite,
.single-desc blockquote small {font-size: 16px;}
blockquote, q {-webkit-hyphens: none; -moz-hyphens:none; -ms-hyphens:none; hyphens:none; quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";content: none;}
blockquote {font-size: 18px;font-style: italic;font-weight: 300;margin: 24px 40px;}
blockquote blockquote {margin-right: 0;}
blockquote cite, blockquote small { font-size: 14px;font-weight: normal;text-transform: uppercase;}
blockquote em, blockquote i { font-style: normal; font-weight: 300;}
blockquote strong, blockquote b {font-weight: 400;}

/* Quote Single */
.single-post .format-quote  {-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;}
.single-post .format-quote blockquote:before {left: 20px;top: 0px;}
.single-post .format-quote blockquote {padding:0 80px;}
.format-quote h2 {display: inline-block;padding: 0 10px;}
.format-quote .blog-detail {padding: 10px 0px 10px 10px;}
.page-template-template-blog-list-sidebar-php .format-quote .blog-detail {padding: 0px;}

/* Wordpress Video */
.format-video embed, .format-standard embed {position: relative; width:100%; min-height:320px;}

/* Tables */
table {border-bottom: 1px solid #ededed;border-collapse: collapse;border-spacing: 0;font-size: 14px;line-height: 2;	margin: 0 0 20px;width: 100%;}
caption, th, td { font-weight: normal;text-align: left;}
caption {font-size: 16px;margin: 20px 0;}
th {font-weight: bold;text-transform: uppercase;}
td {border-top: 1px solid #ededed;padding: 6px 10px 6px 0;}
del {color: #333;}
ins {background: #fff9c0;text-decoration: none;}
hr {background: url(/wp-content/themes/pub/twentythirteen/images/dotted-line.png) repeat center top;background-size: 4px 4px;border: 0;height: 1px;margin: 0 0 24px;}

/* Theme Unit Test - HTML Styles */
dl {margin: 0 20px;}
dt {font-weight: bold;}
dd {margin: 0 0 20px;}
small {font-size: smaller;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

menu, ol, ul {margin: 0;padding: 0 0 0 40px;}
.theme-pages ul li, .comments-p ul li {list-style:disc;}
.comments-p ol li { list-style:lower-roman; }
nav ul, nav ol {list-style: none;list-style-image: none;}
li > ul, li > ol {margin: 0;}
ul.comment-list > li, ul.children > li {list-style:none}
.comment-list, ul.children, .comment-form ul {padding: 0px !important;}

.inside h2, .inside h3 {margin:25px 0;}
.inside h2:first-child {margin:0 0 25px 0;}
.single-desc h2:first-child, .author-block h3 {margin:0;}

address {font-style: italic;margin: 0 0 24px;}


/* ul li list-style:none */
.services-block ul li, .mansory-featured ul li, .timeline li,
.page-template-template-sitemap-php ul li,
.cat-toogles ul li,
.basic-attachment ul li {list-style:none !important;}
.services-block ul, .mansory-featured ul, .social-connect ul,
.page-template-template-sitemap-php ul,
.cat-toogles ul,
.basic-attachment ul {padding:0 !important;}


/* =Tiled Gallery Default Styles
-------------------------------------------------------------- */
.gallery {
	clear: both;
	margin: 0 0 20px;
	overflow: hidden;
}
.gallery img {
	margin: 2px !important; /* Ensure that this value isn't overridden by themes that give content images blanket margins */
}
.gallery .gallery-item {
	float: left;
	position: relative;
	width: auto !important;
	margin: 10px 0px 0px !important;
}
.gallery .tiled-gallery-item {
	float: left;
	margin: 0;
	position: relative;
	width: inherit; /* prevents ie8 bug with inline width styles */
}
.gallery .gallery-row {
	 overflow: hidden;
	 margin-bottom: 2px;
}
.gallery .tiled-gallery-item a { /* Needs to reset some properties for theme compatibility */
	background: transparent;
	border: none;
	color: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	width: auto;
}
.gallery .tiled-gallery-item img,
.gallery .tiled-gallery-item img:hover { /* Needs to reset some properties for theme compatibility */
	background: none;
	border: none;
	box-shadow: none;
	max-width: 100%;
	padding: 0;
	vertical-align: middle;
}
.gallery-caption { /* Captions */
	background: #eee;
	background: rgba( 255,255,255,0.8 );
	color: #333;
	font-size: 13px;
	font-weight: 400;
	overflow: hidden;
	padding: 10px 0;
	position: absolute;
		bottom: 0;
	text-indent: 10px;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
}
.gallery .tiled-gallery-item-small .gallery-caption { /* Smaller captions */
	font-size: 11px;
}

/* Hide galleries in widgets until they've been resized to fit.
   Gallery widgets are almost guaranteed to need resizing, and
   the jump is a little more obvious than galleries in content. */
.widget-gallery .tiled-gallery-unresized {
	visibility: hidden;
	height: 0px;
	overflow: hidden;
}


/* Author Block */
ul.author-social {display:inline-block; padding:0;}
.author-social li { float:left; margin-right:10px; display:inline; }
.author-social li a { background:#34b78c; color:#273139; width:30px; display:block; text-align:center; -webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px; line-height:29px; padding:1px 2px 3px; margin-bottom:5px;}

.author-block h3 { font-size:16px; font-weight:700; color:#FFF; margin-bottom:15px; }
.author-block p { overflow:hidden; margin-bottom:0; color:#FFF; }
.author-block img.avatar {-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px; }
img.avatar { margin-right:20px; float:left;-webkit-border-radius: 100%;-moz-border-radius: 100%;-ms-border-radius: 100%;-o-border-radius: 100%;border-radius: 100%; box-shadow: 0px 1px 1px rgba(0,0,0,.3); -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.3);box-shadow: 0px 1px 1px rgba(0,0,0,.3);}
.comments-p {float:left; width:670px; border:1px solid #E1E6E9; margin: 15px 0px 0;padding: 20px 20px 10px;}
.sframe { margin-bottom:0 !important; }
.password-protected { 
    padding:20px; border:2px solid #E1E6E9; color:#8c9295; position:relative;
    -webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px; 
}
.password-protected input[type='submit'] { background:#475258; padding:10px 15px !important; font:700 14px arial, helvetica, sans-serif; color:#FFF; text-transform:uppercase; cursor:pointer; }
.blog-list-sidebar .password-protect-thumb, .blog-list .password-protect-thumb {height:210px !important;padding:0px !important;}
.password-protect-thumb, .password-protect-large { background:#485359; width:100%; height:210px; text-align:center; }
.password-protect-thumb h3, .password-protect-large h3 { 
    color:#FFF; font:700 26px arial, helvetica, sans-serif; text-transform:uppercase; text-shadow:0 1px 1px #000; padding-top:90px; padding-left:30px; padding-right:30px;
	margin:0px;
}
.password-protect-large { width:770px; height:450px; }
.password-protect-large h3 { padding-top:200px; }
.sticky { background:#ecf0f2; }
.port-4cols, .port-3cols { height:237px; }
.port-2cols { height:247px; padding-top:50px; }
.basic-desc { float:right; width:320px; padding:20px 20px 5px; border:1px solid #dfdfdf; }
.basic-desc h2, .pslide-desc h2 { color:#535353; font:700 20px arial, helvetica, sans-serif; text-transform:capitalize; }
.basic-desc h2 { padding-bottom:10px; border-bottom:1px solid #dfdfdf; margin-bottom: 15px; }
.basic-desc h4, .pslide-desc h4 { color:#34b78b; font-weight:700; font-size:15px; font-family: arial, helvetica, sans-serif; text-transform:uppercase; margin-bottom:10px; }
.basic-attachment { float:left; width:770px; }
.basic-attachment ul li { margin-bottom:20px; position:relative; max-width:100%;float: left; }
.basic-attachment ul li a.project-mask { padding:12px 15px; }
.post-link { float:right; margin-bottom:20px;}
.post-link span { display:block; float:left; margin-right:2px; }
.next a, .prev a { 
	display: inline-block;
	background-color:#273139;
	color: #fff !important; 
	font-size: 18px;
	font-weight:bold;
	height: 35px;
	line-height:40px;
	padding: 0 14px 5px;
}
.next a:hover, .prev a:hover { 
	color:#ffffff; 
	 background-color:#273139;
}
a.visit { margin-bottom:20px; }

.comments { margin-bottom:30px; }
.comments h3, .comment-respond h3 { font-family:arial, helvetica, sans-serif; font-weight:700; font-size:17px; color:#848b8f; text-transform:capitalize; }
.comments h3 {padding:0 0 15px 0;border-bottom:2px solid #E1E6E9;}
.comment-respond li, .wpcf7-form li { margin-bottom:12px; list-style:none; }
.comment-respond li label { color:#8c9295; }
.comment-respond input[type='text'], .comment-respond textarea {width:94%; border:1px solid #dfdfdf; padding:12px; margin-right:0; background:none; }
.wpcf7-form input[type='text'], .wpcf7-form input[type='email'], .wpcf7-form textarea { background:#E9F0F4; padding:12px; margin-right:0; width:250px; }
.comment-respond textarea, .wpcf7-form textarea { width:97%; height:150px; margin-right:0; max-width:770px;}
.comment-respond textarea {width:94%;}

.comment-details { float:left; width:70%; border-bottom:none; }
.comment-details h6 { color:#25292b; font-family:arial, helvetica, sans-serif; font-weight:700; font-size:16px; text-transform:capitalize; margin-bottom:10px; }
.comment-details span { color:#a0a7ab;font-family:arial, helvetica, sans-serif; font-size:13px; float:left; }
.comment-reply-link { color:#848b8f; float:left; background: #E9E9E9;display:inline-block;margin-left: 15px;padding: 3px 10px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px; }
.comment-reply-link:hover {color:#fff !important;}
.comment-reply-link:hover { color:#6b747a; }
h3.error-color {color:#FF0000 !important;}
#cancel-comment-reply-link { font-size:12px; }
.parent { margin-bottom:30px; }
.children .parent { margin-left:50px; }
.children .comment-details { width:570px; } 
.children .children .parent { margin-left:100px; }
.children .children .comment-details { width:470px; }

.contact-page h2 { color:#25292b; font-family:arial, helvetica, sans-serif; font-weight:700; font-size:17px;text-transform:uppercase; }


/* Site Map Page */
#sitemap_menu, #sitemap_menu ul, #sitemap_menu li{ margin:0; padding:0; list-style:none;}
#sitemap_menu{font-size:13px; border-width:0px !important;}
#sitemap_menu li{padding:3px 0px; line-height:20px; margin-top:1px; position:relative; width:100%;}
#sitemap_menu li p{ margin:0;}

#sitemap_menu li a{padding-left:16px;}
#sitemap_menu li ul{margin-top: 5px; margin-left:28px;}
#sitemap_menu li:before{position:absolute; width:10px; margin-top:9px; content: ""; display: block; border-top:2px solid #E2E2E2;}

#sitemap_menu:after, #sitemap_menu ul:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
#sitemap_menu, #sitemap_menu ul{display:block;}
#sitemap_menu, #sitemap_menu ul{min-height:1%; border-left:2px solid #E2E2E2;}
* html #sitemap_menu, * html #sitemap_menu ul{height:1%;}


/* Contact Form */
.wpcf7-form p {
	font-weight:bold;
}

.wpcf7-form label { display:block; margin-bottom:10px; color:#8c9295; }
.wpcf7-form input[type='text'] { margin-right:0; }
.wpcf7-form label.error { display:none !important; }
input.error, textarea.error { border:1px solid #FF0000; }
.sent { display:block; background:#5ac833; padding:10px 20px; color:#FFF !important; }
#map { display: block; width:100%; height:420px; margin-bottom:20px; }

.testimonial_list {background:#273039;}
.testimonial-block {
	background:none;
	color:#fff;
	padding:30px 0 40px;
}
.testimonial-block h2 {
	color: rgb(255, 255, 255);
	margin: 0px 20px;
	padding: 0px 0px 10px;
	display: inline-block;
	width: 90%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.testi-flexslider {text-align:center;}
.testi-flexslider .slides li { 
    padding:0px 20px 0; position:relative; margin-bottom:6px; width:1130px !important; 
    -webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px;
	text-align:center;
}
.testi-flexslider .slides li img {-webkit-border-radius: 100%;-moz-border-radius: 100%;-ms-border-radius: 100%;-o-border-radius: 100%;border-radius: 100%; border:5px solid #fff; width:120px; height:120px; margin:0 auto 20px auto;}
.quote { position:absolute; color: rgba(255,255,255,.2); font-size:60px; top:40px; left:20px; z-index:1; }
.testimonials { position:relative; z-index:2; font-size:14px; font-family:arial, helvetica, sans-serif; color:#fff; line-height:25px; }
.testimonials .testi-details { text-align:center;font-family:arial, helvetica, sans-serif; font-weight:700; font-size:13px; margin-bottom: 10px; display: block;}
.testimonials .testi-details span { color:#fff; display:inline-block; text-transform:capitalize; }
.testimonials .testi-details p { color:#fff; display:inline-block; text-transform:capitalize; font-weight:normal; margin:0px; }
.testimonials .testi-details a { color:#34b78b; text-decoration:underline; text-transform:lowercase; }
.testimonials .testi-details .dot { font-size:18px; display:inline-block;}


/* 404 Page */
.page-nf-line {border:10px solid #f0f0f0; margin: 0 0 80px; }
.page-not-found img { float:left}
.page-not-found { min-height: 320px; margin-top: 0; }
.nf-box { float: left;background: #34b78b;width: 640px;margin: 11% 0px 0px 6%;display: inline-block;position: absolute;} 
.nf-box p { font-weight:bold; color:#fff; padding: 0px 20px 10px; font-size:16px; line-height:28px; }
.nf-box a { font-weight:bold; color:#fff; text-decoration:underline; }
.nf-box h4 { margin-bottom:30px; font-weight:bold; font-size:20px; text-transform:uppercase; color:#fff; display: inline-block; padding:20px 20px; margin-left:20px; background:rgba(255,255,255,.3); }


footer { background:#273139; padding:60px 0 0; color:#FFF; }
.widget-column { float:left; margin-right:30px; width:270px; }
.footer-widgets { margin-bottom:60px; }
.footer-main { background:#34b78c;}
.footer-main .inside { padding:20px 0; }
.copyright { color:#fff; font-weight:600; font-size:12px; font-family:arial, helvetica, sans-serif; float:left; }
.copyright a { color:#fff; }
.copyright a:hover { color:#273139; }
.footer-menu { float:right; }
.footer-menu ul li { float:left; margin-left:10px; color:#fff; list-style:none; }
.footer-menu ul li a { color:#fff; font-weight:600; font-size:12px; font-family:arial, helvetica, sans-serif; }
.footer-menu ul li a:hover { color:#273139; }
.footer-menu ul li:after { content:"/"; padding-left:10px; }
.footer-menu ul li:last-child:after { content:""; padding-left:0; }

a#toTop { position:fixed; bottom:40px; right:40px; background:#fff; color:#273139; display:none; padding:8px 15px 10px; -webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px; font-size: 16px; }
a:hover#toTop { background-color:#34b78c; color:#fff; }


/****************************
SIDEBAR + WIDGETS
****************************/

.left-sidebar.right .widget, .left-sidebar .widget { width:365px; float:right; margin-bottom:30px; color:#8c9295; }
.widget ul {padding:0px;}
.widget ul li { list-style:none}
.left-sidebar .widget { float:left; }
.left-sidebar .widget h5 { color:#848b8f; font-family:arial, helvetica, sans-serif; font-weight:700; font-size:17px;text-transform:capitalize; padding-bottom:15px; border-bottom:2px solid #E1E6E9; }
.left-sidebar .widget_search { position:relative; }
.left-sidebar .widget_search p { margin-bottom:0; }
.left-sidebar .widget_search input[type='text'], .password-protected input[type='password'] { 
    border:1px solid #CFD5D8; padding:10px 10px 10px 12px; font:13px 'Open Sans', sans-serif; color:#8c9295; width:255px;
    -webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px; 
}
.left-sidebar .widget_search input[type="submit"] {position: absolute;right: 0px; cursor:pointer; color: #fff !important; padding: 10px 20px !important;height: auto;line-height: 1.5;font-weight: bold;-webkit-border-radius: 0px;-moz-border-radius: 0px;-ms-border-radius: 0px;-o-border-radius: 0px;border-radius: 0px; box-shadow:none;}
.left-sidebar .widget_search span { display:block; width:20px; height:20px; color:#C1C2C2; position:absolute; top:8px; right:6px; }
.left-sidebar .widget_categories ul li,
.left-sidebar .widget_archive ul li,
.left-sidebar .widget_meta ul li,
.left-sidebar .widget_recent_entries ul li,
.left-sidebar .widget-popular-posts ul li { margin-bottom:6px; }
.left-sidebar .widget_categories ul li a,
.left-sidebar .widget_archive ul li a,
.left-sidebar .widget_meta ul li a,
.left-sidebar .widget_recent_entries ul li a,
.left-sidebar .widget-popular-posts ul li a { color:#25292b; font-weight:600; font-size:14px;}
.left-sidebar .widget_categories ul li a:hover,
.left-sidebar .widget_archive ul li a:hover,
.left-sidebar .widget_meta ul li a:hover,
.left-sidebar .widget_recent_entries ul li a:hover,
.left-sidebar .widget-popular-posts ul li a:hover { color:#666; }
.left-sidebar .widget-flickr ul, .left-sidebar .widget-dribbble ul { width:385px; }
.left-sidebar .widget-flickr ul li, .left-sidebar .widget-dribbble ul li { margin-right:19px; margin-bottom:19px; }
.left-sidebar .widget-flickr ul li img, .left-sidebar .widget-dribbble ul li img { width:75px; height:75px; }
.left-sidebar .widget-video iframe { height:200px; margin-bottom:0 !important; }
.left-sidebar .widget-contact-info li { margin-bottom:10px; }
.left-sidebar .widget-contact-info li span { margin-right:10px; font-weight:bold; }
.widget-get-in-touch ul li { float:left; margin-right:10px; }
.widget-get-in-touch ul li a { 
    background:#34b78c; color:#273139; padding:1px; width:30px; display:block; text-align:center; 
    -webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;border-radius: 50%; 
	line-height:29px;
}
footer .widget-get-in-touch ul li a {padding:1px 2px 3px; margin-bottom:5px;}
footer .widget-get-in-touch ul li a.facebook:hover {background:#4f78d2 !important; color:#FFF;}
footer .widget-get-in-touch ul li a.twitter:hover {background:#00d8ff !important; color:#FFF;}
footer .widget-get-in-touch ul li a.dribbble:hover {background:#ff498e !important; color:#FFF;}
footer .widget-get-in-touch ul li a.linkedin:hover {background:#3ca7dd !important; color:#FFF;}
footer .widget-get-in-touch ul li a.google-plus:hover {background:#db4938 !important; color:#FFF;}
footer .widget-get-in-touch ul li a.instagram:hover {background:#517fa4 !important; color:#FFF;}
footer .widget-get-in-touch ul li a.skype:hover {background:#00b8ed !important; color:#FFF;}
footer .widget-get-in-touch ul li a.youtube:hover {background:#ff3132 !important; color:#FFF;}
.follow-us {float:right;}
.left-sidebar .follow-us, .footer-widgets .follow-us {float:left;}
.widget-get-in-touch ul li a:hover { background:#273139; color:#fff; }
footer .widget-get-in-touch ul li a { background:#273139; color:#fff; }
footer .widget-get-in-touch ul li a:hover { background:#273139; color:#fff; }

.footer-widgets .widget { margin-bottom:20px; }
.footer-widgets .widget h5 { font-family:arial, helvetica, sans-serif; font-weight:700; font-size:17px;border-bottom:2px solid #4B5053; padding-bottom:15px; margin-bottom:20px; color:#34b78b; }
.footer-widgets .widget_categories ul li, 
.footer-widgets .widget-popular-posts ul li,
.footer-widgets .widget_archive ul li,
.footer-widgets .widget_meta ul li { border-bottom:1px dashed #4B5053; padding-bottom:10px; margin-bottom:10px; }
.footer-widgets .widget_categories ul li:last-child, 
.footer-widgets .widget-popular-posts ul li:last-child, 
.footer-widgets .widget_archive ul li:last-child,
.footer-widgets .widget_meta ul li:last-child { border-bottom:0; }
.footer-widgets .widget_categories ul li a, 
.footer-widgets .widget-popular-posts ul li a,
.footer-widgets .widget_archive ul li a,
.footer-widgets .widget_meta ul li a { color:#FFF; font-weight:600; font-size:15px; font-family: arial, helvetica, sans-serif; text-transform:capitalize; }
.widget-flickr ul { width:285px; }
.widget-flickr ul li, .widget-dribbble ul li { float:left; margin-right:2px; margin-bottom:2px; }
.widget-dribbble ul li:nth-child(4n+4) { margin-right:0px; }
.widget-flickr ul li img, .widget-dribbble ul li img { width:64px; height:64px; border:1px solid rgba(255,255,255,.2);}
.widget-flickr ul li a:hover, .widget-dribbble ul li a:hover { opacity:0.6; }
#wp-calendar { width:100%; }
#wp-calendar caption {font-size: 16px;font-weight: 600;padding: 10px 15px;background: none repeat scroll 0% 0% rgb(39, 48, 57);margin: 0 0 20px;color: rgb(255, 255, 255);}
#wp-calendar td {padding: 6px 0px;}
#wp-calendar tbody tr td { text-align:center; line-height: 36px; }
#today { background:#999; font-weight:bold; color:#fff; }
.widget-video iframe { width:100%; height:150px; }
iframe { border:none; width:100%; }
.tagcloud a { background:#5d6366; padding:4px 6px; -webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;border-radius: 2px;  margin: 2px;float: left;line-height: 1.5em;}
.tagcloud a:hover { background:#4e5458; }


/****************************
PAGINATION
****************************/

.pagination { overflow:hidden; }
ul.page-numbers {padding: 0px;}
.page-numbers li { float:left; margin-right:8px; list-style:none; }
.page-numbers li a, .alignleft a:link, .alignleft a:visited, .alignright a:link, .alignright a:visited {
    border:none; color:#34b78b; font-weight:700; font-size:14px; font-family: arial, helvetica, sans-serif; text-transform:uppercase; display:inline-block;
    padding:8px 15px 13px; -webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px; line-height:20px;
	box-shadow: inset 0 -3px rgba(0,0,0,.2);
	position:relative;
	font-weight:600;
}
.page-numbers li a { margin-bottom:10px; }
.page-numbers li a:hover, .alignleft a:hover, .alignright a:hover { 
	color:#ffffff; 
	-webkit-transition: all 0.1s ease-in-out;
	 -moz-transition: all 0.1s ease-in-out;
	 -o-transition: all 0.1s ease-in-out;
	 transition: all 0.1s ease-in-out;
	 background-color:#273139;
	 
	 box-shadow: inset 0 -1px rgba(0,0,0,.2);
	top: 1px;
}
span.current { 
    color:#848b8f; font-weight:700; font-size:15px; font-family: arial, helvetica, sans-serif; padding:10px 15px; background:#CFD5D8; display:block; top:1px; position:relative;  
    -webkit-border-radius: 4px;-moz-border-radius:4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px; 
}
span.dots { margin-top:20px; }
.nav-previous { text-align:center; }
.nav-previous a { background:#FFAE00; color:#FFF; font-size:15px; font-weight:bold; padding:18px 30px; display:inline-block; }
.nav-previous a:hover { background:#e29f0f; }
.nav-previous a i { margin-left:10px; }


/****************************
WORDPRESS STYLES
****************************/

.aligncenter { display:block; margin:0 auto; }
.alignright { float:right; margin-left:20px; }
.alignleft { float:left; margin-right:20px; }
.floatleft { float:left; }
.floatright { float:right; }
.textcenter { text-align:center; }
.textright { text-align:right; }
.textleft { text-align:left; }
.wp-caption { border:1px solid #ddd; text-align:center; background-color:#f3f3f3; padding-top:4px; margin:10px; -webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;  }
.wp-caption img { margin:0; padding:0; border:0 none; max-width:100%; height:auto;}
.wp-caption p.wp-caption-text { font-size:11px; line-height:17px; padding:0 4px 5px; margin:0; }
.wp-smiley { margin:0 !important; max-height:1em; }
blockquote.left { margin-right:20px; text-align:right; margin-left:0; width:30%; float:left; }
blockquote.right { margin-left:20px; text-align:left; margin-right:0; width:30%; float:right; }
.sticky, .gallery-caption, .bypostauthor { }
.resize, .alignright, .alignleft, .aligncenter, .alignnone { margin-bottom:30px !important; max-width:100%; height:auto; }



/**********************************************
Hire Me Widget
***********************************************/
/* Author Banner Image */
.hr-author {
	background:#fff;
	border:1px solid #d9d9d9;
	min-height:250px;
	width:100%;
	margin: 0 auto 20px;
}
.hr-author h2 {
	font-size:22px;
	color:#fff !important;
	padding: 30px 5px 15px;
	margin:0 20px !important;
	border-bottom:1px solid rgba(255,255,255,.4);
}
.personal_details {
    margin: 20px 20px 0;
}
.short_details h3 {
	font-size:18px;
	color:#fff !important;
	padding: 0 15px;
	margin:0 0 5px 0;
}
.short_details h4 {
	font-size:14px;
	color:#fff !important;
	padding: 0 15px;
	margin:0 0 10px 0;
}
.short_details p {
	font-size:13px;
	color:#fff !important;
	padding: 0 15px;
	margin:0 0 5px 0;
}
.personal_details img {
	float:left;
	width: 130px;
}
.short_details {
	max-width: 190px;
	float:left;
}
.hr-button {
	margin:20px auto;
	display:inline-block;
	text-align: center;
	width: 100%;
}
.hr-button .su-button {
	font-size:14px !important;
	line-height: 35px;
}


/*---------------------------------------------------------------*/
/* Retina
/*---------------------------------------------------------------*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

.default-logo {display:none;}
.retina-logo {display:inline-block;}
  
}


/* CSS Below since 2.0 */
.services-third:nth-child(3n+3) {
        margin-right:0px !important;
}
@media only screen and (max-width: 1200px) {
    .services-third {
        margin-top: 30px !important;
    }
}


/*------------------------------------------------------------------------------*/
/* THANKS FOR BUYING OUR THEME! - Defatch | http://defatch.com
/*------------------------------------------------------------------------------*/