/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.home-project-flexslider { height:545px; overflow:hidden; }
.flexslider, .testi-flexslider, .blog-flexslider, .project-flexslider, .home-project-flexslider { margin: 0; padding: 0; }
.flexslider .slides > li, .testi-flexslider .slides > li, .blog-flexslider .slides > li, .project-flexslider .slides > li, .home-project-flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img, .testi-flexslider .slides img, .blog-flexslider .slides img, .project-flexslider .slides img, .home-project-flexslider .slides img { display: block; margin:0 auto; }
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider, .testi-flexslider, .blog-flexslider, .project-flexslider, .home-project-flexslider { position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides, .testi-flexslider .slides, .blog-flexslider .slides, .project-flexslider .slides, .home-project-flexslider .slides { zoom: 1; margin-top:0; }

.carousel li {margin-right: 5px}


/* Direction Nav */
/*.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url('images/bg_direction_nav.png') no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}*/

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center; }
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 2px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}


/* Caption style */
/* IE rgba() hack */
.flex-caption { background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption  { padding:8px 15px; position: absolute; right:20px; top:20px; background: rgba(0,0,0,.5); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 12px; line-height: 18px; display:none; }


/* Direction Nav */
.testi-flexslider .flex-direction-nav { position:relative; display:inline-block;}
.testi-flexslider .flex-direction-nav li { background:none !important; float:left; }
.testi-flexslider .flex-direction-nav li a { display: block; margin-right:6px; padding:8px 15px; }
.testi-flexslider .flex-direction-nav li .flex-next, 
.testi-flexslider .flex-direction-nav li .flex-prev { 
	display: inline-block;
	background-color:#34b78c;
	color: #fff !important; 
	font-size: 13px;
	font-weight:bold;
	height: 33px;
	line-height:33px;
	padding: 0 15px 5px;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	cursor:pointer;
	position:relative;
	
	box-shadow: inset 0 -3px rgba(0,0,0,.2);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.testi-flexslider .flex-direction-nav li .flex-next:hover, 
.testi-flexslider .flex-direction-nav li .flex-prev:hover { color:#ffffff; 
	-webkit-transition: all 0.1s ease-in-out;
	 -moz-transition: all 0.1s ease-in-out;
	 -o-transition: all 0.1s ease-in-out;
	 transition: all 0.1s ease-in-out;
	 background-color:#273139;
	 
	 box-shadow: inset 0 -1px rgba(0,0,0,.2);
	top: 1px; }
.testi-flexslider .flex-direction-nav li .flex-prev:before { 
	content: "\f060"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
}
.testi-flexslider .flex-direction-nav li .flex-next:before { 
	content: "\f061"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;  
}


.blog-flexslider .flex-direction-nav { position:absolute; bottom:20px; right:20px; }
.blog-flexslider .flex-direction-nav a { padding:8px 14px; }
.blog-flexslider .flex-direction-nav li { float:left; margin-left:5px; }
.blog-flexslider .flex-direction-nav li .flex-next, 
.blog-flexslider .flex-direction-nav li .flex-prev { background:#333; position:relative; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;  }
.blog-flexslider .flex-direction-nav li .flex-next:hover, 
.blog-flexslider .flex-direction-nav li .flex-prev:hover { background:#999; position:relative; }
.blog-flexslider .flex-direction-nav li .flex-prev:before { 
	content: "\f104"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; color:#FFF; font-size:18px; 
}
.blog-flexslider .flex-direction-nav li .flex-next:before { 
	content: "\f105"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; color:#FFF; font-size:18px; 
}


.project-flexslider .flex-direction-nav { position:absolute; top:10%; left:0; width:100%; z-index:9; }
.project-flexslider .flex-direction-nav li { background:none !important; float:left; }
.project-flexslider .flex-direction-nav li a { display: block; margin-right:6px; padding:8px 15px; }
.project-flexslider .flex-direction-nav li .flex-next, 
.project-flexslider .flex-direction-nav li .flex-prev { 
	position:absolute; color:#34b78b; font-size:18px; border:2px solid #34b78b; font-size:16px; 
	border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; 
}
.project-flexslider .flex-direction-nav li .flex-prev { left:20px; }
.project-flexslider .flex-direction-nav li .flex-next { right:20px; }
.project-flexslider .flex-direction-nav li .flex-next:hover, 
.project-flexslider .flex-direction-nav li .flex-prev:hover { background:none; color:#273039; border-color:#273039; }
.project-flexslider .flex-direction-nav li .flex-prev:before { 
	content: "\f060"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;
}
.project-flexslider .flex-direction-nav li .flex-next:before { 
	content: "\f061"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;  
}

.home-project-flexslider .flex-control-nav { width:100%; position:absolute; bottom:6px; right:0; text-align:center; }
.home-project-flexslider .flex-control-paging li a { width:70px; height:5px; display: block; background:#FFF; text-indent:-9999px; box-shadow:none; border-radius:0; }
.home-project-flexslider .flex-control-paging li a:hover { background:#EEE; }
.home-project-flexslider .flex-control-paging li a.flex-active { background:#34b78b; cursor: default; }